<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterEnter="producerCode.syncWithBillingSystem()"
    canEdit="perm.System.prodcodeeditbasic and User.util.CurrentUser.isInternalUserOrBelongsToOrganization(producerCode.Organization)"
    canVisit="perm.System.prodcodeviewbasic and User.util.CurrentUser.isInternalUserOrBelongsToOrganization(producerCode.Organization)"
    id="AdminProducerCodeDetail"
    parent="AdminProducerCodeSearch()"
    title="DisplayKey.get(&quot;Web.ProducerCode.Detail&quot;, producerCode)">
    <LocationEntryPoint
      signature="AdminProducerCodeDetail(producerCode : ProducerCode)"/>
    <Variable
      name="producerCode"
      type="ProducerCode"/>
    <ScreenRef
      def="ProducerCodeDetailScreen(producerCode)"/>
  </Page>
</PCF>