<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ProducerCodeSearchLV">
    <Require
      name="producerCodes"
      type="gw.api.database.IQueryBeanResult&lt;ProducerCode&gt;"/>
    <Require
      name="carrier"
      type="Organization"/>
    <RowIterator
      editable="false"
      elementName="producerCode"
      pickValue="producerCode"
      value="producerCodes"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.ProducerCode&gt;">
      <Row>
        <TextCell
          action="AdminProducerCodeDetail.go(producerCode)"
          id="Code"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Code&quot;)"
          value="producerCode.Code"/>
        <TextCell
          id="Description"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Description&quot;)"
          value="producerCode.Description"
          width="300"
          wrap="true"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Status&quot;)"
          value="producerCode.ProducerStatus"
          valueType="typekey.ProducerStatus"/>
        <TextCell
          id="Org"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Organization&quot;)"
          value="producerCode.Organization"
          valueType="entity.Organization"
          width="200"
          wrap="true"/>
        <TextCell
          id="BranchCode"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.BranchCode&quot;)"
          value="producerCode.Branch.BranchCode"/>
        <AltGroupCell
          id="Branch"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Branch&quot;)"
          value="producerCode.Branch"/>
        <TextCell
          action="AdminProducerCodeDetail.go(producerCode.Parent)"
          available="producerCode.Parent != null"
          id="Parent"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Parent&quot;)"
          value="producerCode.Parent.Code"/>
        <AltUserCell
          action="UserDetailPage.go(producerCode.PreferredUnderwriter)"
          available="producerCode.PreferredUnderwriter != null"
          id="PrefUW"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.PrefUW&quot;)"
          value="producerCode.PreferredUnderwriter"
          visible="perm.System.prodcodeviewprefuw"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>