<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ModalCell
    id="SchemeValueInputCell"
    mode="string">
    <Require
      name="value"
      type="SchemeValueDelegate_Ext"/>
    <TextCell
      editable="true"
      id="dateinputcell"
      value="value.StringValue"/>
  </ModalCell>
</PCF>