<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canVisit="gw.rating.worksheet.WorksheetUIHelper.canViewWorksheets(policyLine)"
    id="RatingWorksheetPopup"
    title="policyLine.Branch.ValidQuote ? DisplayKey.get(&quot;Web.Policy.RatingWorksheet.PopupTitle&quot;) : DisplayKey.get(&quot;Web.Policy.RatingWorksheet.PopupTitle&quot;)">
    <LocationEntryPoint
      signature="RatingWorksheetPopup(policyLine : PolicyLine)"/>
    <Variable
      name="policyLine"
      type="PolicyLine"/>
    <Variable
      initialValue="false"
      name="showConditionals"
      type="boolean"/>
    <Variable
      initialValue="gw.rating.worksheet.WorksheetUIHelper.getWorksheetRootNode(policyLine, showConditionals)"
      name="rootNode"
      type="gw.api.tree.RowTreeRootNode"/>
    <Screen>
      <Toolbar>
        <TreeButtons
          iterator="WorksheetTree"/>
        <ToolbarButton
          action="showConditionals = !showConditionals; rootNode = gw.rating.worksheet.WorksheetUIHelper.getWorksheetRootNode(policyLine, showConditionals)"
          id="ShowHideConditionalsButton"
          label="showConditionals ? DisplayKey.get(&quot;Button.Worksheet.HideConditionals&quot;) : DisplayKey.get(&quot;Button.Worksheet.ShowConditionals&quot;)"/>
      </Toolbar>
      <ListViewPanel
        alternateEntryStyle="false"
        id="WorksheetLV">
        <RowTree
          containerLabel="node.Description"
          containerLabelColspan="8"
          containerType="gw.rating.worksheet.treenode.WorksheetTreeNodeContainer"
          contentType="gw.rating.worksheet.treenode.WorksheetTreeNodeLeaf"
          elementName="node"
          id="WorksheetTree"
          pageSize="0"
          value="rootNode">
          <Row
            id="WorkSheetRow">
            <TextCell
              enableSort="false"
              flex="7"
              id="Instruction"
              label="DisplayKey.get(&quot;Web.Policy.RatingWorksheet.Instruction&quot;)"
              value="node.Instruction"/>
            <TextCell
              enableSort="false"
              flex="6"
              id="Result"
              label="DisplayKey.get(&quot;Web.Policy.RatingWorksheet.Result&quot;)"
              value="gw.rating.worksheet.WorksheetUIHelper.format(node.Result)"/>
            <TextCell
              align="center"
              enableSort="false"
              flex="5"
              id="Op"
              label="DisplayKey.get(&quot;Web.Policy.RatingWorksheet.Operator&quot;)"
              value="node.Operator"
              width="25"/>
            <TextCell
              enableSort="false"
              flex="4"
              id="LeftParen"
              label="DisplayKey.get(&quot;Web.Policy.RatingWorksheet.LeftParentheses&quot;)"
              value="node.LeftParenthesesGroup"
              width="15"/>
            <TextCell
              enableSort="false"
              flex="3"
              id="Operand"
              label="DisplayKey.get(&quot;Web.Policy.RatingWorksheet.Operand&quot;)"
              value="node.Operand"/>
            <TextCell
              enableSort="false"
              flex="2"
              id="RightParen"
              label="DisplayKey.get(&quot;Web.Policy.RatingWorksheet.RightParentheses&quot;)"
              value="node.RightParenthesesGroup"
              width="15"/>
            <TextCell
              enableSort="false"
              flex="1"
              id="OperandValue"
              label="DisplayKey.get(&quot;Web.Policy.RatingWorksheet.OperandValue&quot;)"
              value="node.OperandValue"
              valueType="java.lang.Object"/>
          </Row>
        </RowTree>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>