<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="BillingAdjustmentsDV"
    mode="ReadOnly">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <Variable
      initialValue="policyPeriod.PolicyTerm.DepositReleased"
      name="depositReleased"
      type="java.lang.Boolean"/>
    <InputColumn>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.Policy.Payment.Title&quot;)"/>
      <TypeKeyInput
        id="BillingMethod"
        label="DisplayKey.get(&quot;Web.Policy.Payment.BillingMethod&quot;)"
        value="policyPeriod.BillingMethod"
        valueType="typekey.BillingMethod"/>
      <InputSetRef
        def="AccountContactBillingInputSet(policyPeriod.Policy.Account, false, policyPeriodBillingInstructionsManager, policyPeriod.PreferredSettlementCurrency)"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.Policy.Payment.Schedule&quot;)"/>
      <ListViewInput
        def="BillingAdjustmentsInstallmentsLV(policyPeriod, policyPeriodBillingInstructionsManager.MaybeGetInstallmentPlanAsArray, policyPeriodBillingInstructionsManager)"
        editable="false"
        labelAbove="true"
        visible="policyPeriod.InstallmentsPlanSelected">
        <Toolbar/>
      </ListViewInput>
      <TextInput
        id="PremiumReportPlan"
        label="DisplayKey.get(&quot;Web.Policy.Payment.PremiumReportPlan&quot;)"
        value="policyPeriod.SelectedPaymentPlan.Name"
        visible="policyPeriod.ReportingPlanSelected"/>
      <BooleanRadioInput
        id="DepositReleased"
        label="DisplayKey.get(&quot;Web.Policy.Payment.DepositReleased&quot;)"
        value="true"
        valueType="boolean"
        visible="depositReleased"/>
      <InputGroup
        allowToggle="false"
        childrenVisible="policyPeriod.ReportingPlanSelected and not depositReleased"
        id="DepositInputGroup"
        label="DisplayKey.get(&quot;Web.Policy.Payment.Deposit&quot;)">
        <TextInput
          id="DepositDefault"
          label="DisplayKey.get(&quot;Web.Policy.Payment.DepositDefault&quot;)"
          value="policyPeriod.ReportingPattern.ReportingDefaultDepositPct"
          valueType="java.math.BigDecimal"/>
        <TextInput
          id="DepositOverride"
          label="DisplayKey.get(&quot;Web.Policy.Payment.DepositOverridePct&quot;)"
          value="policyPeriod.DepositOverridePct"
          valueType="java.math.BigDecimal"/>
        <MonetaryAmountInput
          id="DepositAmount"
          label="DisplayKey.get(&quot;Web.Policy.Payment.DepositAmt&quot;)"
          value="policyPeriod.DepositAmount"/>
      </InputGroup>
    </InputColumn>
  </DetailViewPanel>
</PCF>