<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="BillingAdjustmentsDV"
    mode="MidtermInstallmentsReadOnly">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <InputColumn>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.Policy.Payment.Title&quot;)"/>
      <TypeKeyInput
        id="BillingMethod"
        label="DisplayKey.get(&quot;Web.Policy.Payment.BillingMethod&quot;)"
        value="policyPeriod.BillingMethod"
        valueType="typekey.BillingMethod"/>
      <BooleanRadioInput
        id="OverrideBillingAllocation"
        label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.OverrideBillingAllocation&quot;)"
        value="policyPeriod.OverrideBillingAllocation"/>
      <TextInput
        id="BillImmediately"
        label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.BillImmediately&quot;)"
        value="policyPeriod.BillImmediatelyPercentage"
        valueType="java.math.BigDecimal"
        visible="policyPeriod.OverrideBillingAllocation"/>
      <TypeKeyInput
        id="AllocationOfRemainder"
        label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.AllocationOfRemainder&quot;)"
        value="policyPeriod.AllocationOfRemainder"
        valueType="typekey.BillingRemainderAllocate"
        visible="policyPeriod.OverrideBillingAllocation"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.Policy.Payment.Schedule&quot;)"/>
      <ListViewInput
        def="BillingAdjustmentsInstallmentsLV(policyPeriod, policyPeriodBillingInstructionsManager.MaybeGetInstallmentPlanAsArray, policyPeriodBillingInstructionsManager)"
        editable="false"
        labelAbove="true"
        visible="policyPeriod.InstallmentsPlanSelected">
        <Toolbar/>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>