<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="ContingencyPanelSet"
    visible="not policyPeriod.Policy.Contingencies.IsEmpty">
    <Require
      name="policyPeriod"
      type="entity.PolicyPeriod"/>
    <PanelRef
      visible="policyPeriod.Policy.HasOutstandingContingencies">
      <TitleBar
        title="DisplayKey.get('Web.Contingency.Pending')"/>
      <ListViewPanel
        id="ContingenciesPendingLV">
        <RowIterator
          editable="false"
          elementName="contingency"
          pageSize="0"
          type="entity.Contingency"
          value="policyPeriod.Policy.PendingContingencies"
          valueType="Contingency[]">
          <Row>
            <TextCell
              action="ContingencyPopup.push(contingency)"
              id="ContingencyTitle"
              label="DisplayKey.get('Web.Contingency.Title')"
              value="contingency.Title"
              width="275"
              wrap="true"/>
            <DateCell
              id="DueDate"
              label="DisplayKey.get('Web.Contingency.DueDate')"
              sortDirection="descending"
              value="contingency.DueDate"/>
            <TextCell
              id="PotentialAction"
              label="DisplayKey.get('Web.Contingency.PotentialAction')"
              value="contingency.Action.DisplayName"
              width="275"
              wrap="true"/>
            <AltUserCell
              id="AddedBy"
              label="DisplayKey.get('Web.Contingency.AddedBy')"
              value="contingency.CreateUser"
              width="200"
              wrap="true"/>
            <DateCell
              id="On"
              label="DisplayKey.get('Web.Contingency.On')"
              sortDirection="descending"
              value="contingency.CreateTime"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <PanelRef
      visible="policyPeriod.Policy.ResolvedOrWaivedContingencies.HasElements">
      <TitleBar
        title="DisplayKey.get('Web.Contingency.ResolvedWaived')"/>
      <ListViewPanel
        id="ContingenciesResolvedWaivedLV">
        <RowIterator
          editable="false"
          elementName="contingency"
          pageSize="0"
          type="entity.Contingency"
          value="policyPeriod.Policy.ResolvedOrWaivedContingencies"
          valueType="Contingency[]">
          <Row>
            <TextCell
              action="ContingencyPopup.push(contingency)"
              id="ContingencyTitle"
              label="DisplayKey.get('Web.Contingency.Title')"
              value="contingency.Title"
              width="275"
              wrap="true"/>
            <TextCell
              id="ContingencyStatus"
              label="DisplayKey.get('Web.Contingency.Status')"
              value="contingency.Status.DisplayName"
              width="275"
              wrap="true"/>
            <DateCell
              id="CompletionDate"
              label="DisplayKey.get('Web.Contingency.CompletionDate')"
              sortDirection="descending"
              value="contingency.CloseDate"/>
            <TextCell
              id="CompletedBy"
              label="DisplayKey.get('Web.Contingency.CompletedBy')"
              value="contingency.CloseUser"
              valueType="entity.User"
              width="200"
              wrap="true"/>
            <DateCell
              id="DueDate"
              label="DisplayKey.get('Web.Contingency.DueDate')"
              sortDirection="descending"
              value="contingency.DueDate"/>
            <TextCell
              id="PotentialAction"
              label="DisplayKey.get('Web.Contingency.PotentialAction')"
              value="contingency.Action.DisplayName"
              width="275"
              wrap="true"/>
            <AltUserCell
              id="AddedBy"
              label="DisplayKey.get('Web.Contingency.AddedBy')"
              value="contingency.CreateUser"
              width="200"
              wrap="true"/>
            <DateCell
              id="On"
              label="DisplayKey.get('Web.Contingency.On')"
              sortDirection="descending"
              value="contingency.CreateTime"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <PanelRef
      visible="policyPeriod.Policy.FailedContingencies.HasElements">
      <TitleBar
        title="DisplayKey.get('Web.Contingency.ClosedWithoutSatisfactoryResolution')"/>
      <ListViewPanel
        id="ContingenciesFailedLV">
        <RowIterator
          editable="false"
          elementName="contingency"
          pageSize="0"
          type="entity.Contingency"
          value="policyPeriod.Policy.FailedContingencies"
          valueType="Contingency[]">
          <Row>
            <TextCell
              action="ContingencyPopup.push(contingency)"
              id="ContingencyTitle"
              label="DisplayKey.get('Web.Contingency.Title')"
              value="contingency.Title"
              width="275"
              wrap="true"/>
            <TextCell
              id="ContingencyStatus"
              label="DisplayKey.get('Web.Contingency.Status')"
              value="contingency.Status.DisplayName"
              width="275"
              wrap="true"/>
            <DateCell
              id="CompletionDate"
              label="DisplayKey.get('Web.Contingency.CompletionDate')"
              sortDirection="descending"
              value="contingency.CloseDate"/>
            <TextCell
              id="CompletedBy"
              label="DisplayKey.get('Web.Contingency.CompletedBy')"
              value="contingency.CloseUser"
              valueType="entity.User"
              width="200"
              wrap="true"/>
            <DateCell
              id="DueDate"
              label="DisplayKey.get('Web.Contingency.DueDate')"
              sortDirection="descending"
              value="contingency.DueDate"/>
            <TextCell
              id="PotentialAction"
              label="DisplayKey.get('Web.Contingency.PotentialAction')"
              value="contingency.Action.DisplayName"
              width="275"
              wrap="true"/>
            <AltUserCell
              id="AddedBy"
              label="DisplayKey.get('Web.Contingency.AddedBy')"
              value="contingency.CreateUser"
              width="200"
              wrap="true"/>
            <DateCell
              id="On"
              label="DisplayKey.get('Web.Contingency.On')"
              sortDirection="descending"
              value="contingency.CreateTime"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>
