<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="Policy_Summary_JobsInProgressLV">
    <ExposeIterator
      flags="job"
      valueType="entity.Job"
      widget="Policy_Summary_JobsInProgressLV"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="java.util.Date"/>
    <RowIterator
      checkBoxVisible="!job.SelectedVersion.PolicyTerm.Archived"
      editable="false"
      elementName="job"
      hasCheckBoxes="true"
      value="policyPeriod.Policy.OpenJobs.where(\ j -&gt; j.SelectedVersion.Status != PolicyPeriodStatus.TC_BOUND) "
      valueType="entity.Job[]">
      <ToolbarFlag
        name="job"/>
      <Row>
        <DateCell
          id="PeriodStart"
          label="DisplayKey.get(&quot;Web.PolicyFile.Jobs.PeriodEffDate&quot;)"
          value="job.LatestPeriod.PeriodStart"/>
        <DateCell
          id="EffectiveDate"
          label="DisplayKey.get(&quot;Web.PolicyFile.Jobs.TransEffDate&quot;)"
          sortDirection="descending"
          sortOrder="1"
          value="job.LatestPeriod.EditEffectiveDate"/>
        <TextCell
          id="Status"
          label="DisplayKey.get(&quot;Web.PolicyFile.Jobs.Status&quot;)"
          value="job.DisplayStatus"/>
        <TextCell
          available="job.Viewable"
          id="JobInProgressType"
          label="DisplayKey.get(&quot;Web.PolicyFile.Jobs.Type&quot;)"
          value="job.DisplayType"/>
        <TextCell
          action="JobForward.go(job)"
          available="job.Viewable"
          id="JobNumber"
          label="DisplayKey.get(&quot;Web.PolicyFile.Jobs.WorkOrderNumber&quot;)"
          value="job.JobNumber"/>
        <TextCell
          id="Comment"
          label="DisplayKey.get(&quot;Web.PolicyFile.Summary.Transactions.Comment&quot;)"
          value="job.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>