<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyLineSummaryPanelSet"
    mode="BusinessAutoLine">
    <Require
      name="line"
      type="PolicyLine"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="line as BusinessAutoLine"
      name="baLine"
      type="productmodel.BusinessAutoLine"/>
    <!-- Line-level clauses -->
    <DetailViewPanel
      id="LineDV">
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.Policy.BA.LineLevelCoverages&quot;)"
          visible="not baLine.BALineCoverages.IsEmpty"/>
        <ListViewInput
          def="CoverageSummaryLV((baLine).BALineCoverages.toList(), baLine)"
          labelAbove="true"
          visible="not baLine.BALineCoverages.IsEmpty">
          <Toolbar/>
        </ListViewInput>
        <Label
          label="DisplayKey.get(&quot;Web.Policy.Coverages.Exclusions&quot;)"
          visible="not baLine.BALineExclusions.IsEmpty"/>
        <ListViewInput
          def="CoverageSummaryLV(baLine.BALineExclusions.toList(), baLine)"
          id="ExclusionSummaryLV"
          labelAbove="true"
          visible="not baLine.BALineExclusions.IsEmpty">
          <Toolbar/>
        </ListViewInput>
        <Label
          label="DisplayKey.get(&quot;Web.Policy.Coverages.PolicyConditions&quot;)"
          visible="not baLine.BALineConditions.IsEmpty"/>
        <ListViewInput
          def="CoverageSummaryLV(baLine.BALineConditions.toList(), baLine)"
          id="ConditionSummaryLV"
          labelAbove="true"
          visible="not baLine.BALineConditions.IsEmpty">
          <Toolbar/>
        </ListViewInput>
      </InputColumn>
      <InputColumn>
        <ListViewInput
          boldLabel="true"
          id="HiredAutoLVInput"
          label="DisplayKey.get(&quot;Web.Policy.BA.HiredAutoStates&quot;)"
          labelAbove="true"
          visible="true">
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              checkBoxVisible="true"
              editable="true"
              elementName="jurisdiction"
              hasCheckBoxes="true"
              hideCheckBoxesIfReadOnly="true"
              id="HiredAutoIterator"
              value="baLine.HiredAutoJurisdictions"
              valueType="entity.BAJurisdiction[]">
              <Row>
                <TypeKeyCell
                  id="Jurisdiction"
                  label="DisplayKey.get(&quot;Web.Policy.BA.State&quot;)"
                  value="jurisdiction.State"
                  valueType="typekey.Jurisdiction"
                  width="100"/>
                <TextCell
                  editable="true"
                  id="CostHire"
                  label="DisplayKey.get(&quot;Web.Policy.BA.CostHire&quot;)"
                  numCols="15"
                  required="true"
                  value="jurisdiction.HiredAutoBasis.Basis"
                  valueType="java.lang.Integer"
                  width="50"/>
                <BooleanRadioCell
                  editable="true"
                  id="IfAny"
                  label="DisplayKey.get(&quot;Web.Policy.BA.IfAnyExposure&quot;)"
                  numCols="2"
                  value="jurisdiction.HiredAutoBasis.IfAnyExposure"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <ListViewInput
          boldLabel="true"
          id="NonownedLVInput"
          label="DisplayKey.get(&quot;Web.Policy.BA.NonownedStates&quot;)"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              editable="true"
              elementName="jurisdiction"
              id="NonownedIterator"
              value="baLine.NonOwnedJurisdictions"
              valueType="entity.BAJurisdiction[]">
              <Row>
                <TypeKeyCell
                  id="Jurisdiction"
                  label="DisplayKey.get(&quot;Web.Policy.BA.State&quot;)"
                  value="jurisdiction.State"
                  valueType="typekey.Jurisdiction"
                  width="100"/>
                <TextCell
                  editable="true"
                  id="NumEmployees"
                  label="DisplayKey.get(&quot;Web.Policy.BA.NumEmployees&quot;)"
                  numCols="15"
                  value="jurisdiction.NonOwnedBasis.NumEmployees"
                  valueType="java.lang.Integer"
                  width="50"/>
                <TextCell
                  editable="true"
                  id="TotalPartners"
                  label="DisplayKey.get(&quot;Web.Policy.BA.TotalPartners&quot;)"
                  numCols="15"
                  value="jurisdiction.NonOwnedBasis.NumPartners"
                  valueType="java.lang.Integer"
                  width="50"/>
                <TextCell
                  editable="true"
                  id="TotalVolunteers"
                  label="DisplayKey.get(&quot;Web.Policy.BA.TotalVolunteers&quot;)"
                  numCols="15"
                  value="jurisdiction.NonOwnedBasis.NumVolunteers"
                  valueType="java.lang.Integer"
                  width="50"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef>
      <TitleBar
        title="DisplayKey.get(&quot;Web.Policy.BA.State&quot;)"/>
      <Toolbar/>
      <ListDetailPanel
        id="StateSummaryLDV"
        selectionName="selectedState"
        selectionType="Jurisdiction">
        <ListViewPanel
          id="BAStateSummaryLV">
          <RowIterator
            editable="false"
            elementName="theState"
            value="baLine.GaragingJurisdictions*.State"
            valueType="typekey.Jurisdiction[]">
            <Row>
              <TextCell
                action="BALocationSummaryPopup.push(baLine, gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(theState))"
                align="left"
                id="State"
                label="DisplayKey.get(&quot;Web.Policy.BA.State&quot;)"
                sortOrder="1"
                value="gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(theState)"
                valueType="typekey.State">
                <ColumnFooter>
                  <TextCell
                    action="BAVehicleSchedulePopup.push(baLine, null)"
                    id="SummTotal"
                    value="DisplayKey.get(&quot;Web.Policy.BA.SummaryTotals&quot;)"/>
                </ColumnFooter>
              </TextCell>
              <TextCell
                align="right"
                id="LocCount"
                label="DisplayKey.get(&quot;Web.Policy.BA.Locations&quot;)"
                value="line.Branch.countLocationsInState(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(theState))"
                valueType="java.lang.Integer">
                <ColumnFooter>
                  <TextCell
                    id="LocTotal"
                    value="line.Branch.PolicyLocations.length"
                    valueType="java.lang.Integer"/>
                </ColumnFooter>
              </TextCell>
              <TextCell
                align="right"
                id="VehCount"
                label="DisplayKey.get(&quot;Web.Policy.BA.Total.Vehicles&quot;)"
                value="baLine.Vehicles.countWhere( \ v -&gt; v.Location.State == gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(theState))"
                valueType="java.lang.Integer">
                <ColumnFooter>
                  <TextCell
                    id="VehTotal"
                    value="baLine.Vehicles.length"
                    valueType="java.lang.Integer"/>
                </ColumnFooter>
              </TextCell>
              <TextCell
                align="right"
                id="PassengerCount"
                label="DisplayKey.get(&quot;Web.Policy.BA.Total.PrivatePassenger&quot;)"
                value="baLine.Vehicles.countWhere( \ v -&gt; v.Location.State == gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(theState) and v.VehicleType == TC_PP)"
                valueType="java.lang.Integer"
                wrapLabel="true">
                <ColumnFooter>
                  <TextCell
                    id="PassengerTotal"
                    value="baLine.Vehicles.countWhere( \ v -&gt; v.VehicleType == TC_PP)"
                    valueType="java.lang.Integer"/>
                </ColumnFooter>
              </TextCell>
              <TextCell
                align="right"
                id="TruckCount"
                label="DisplayKey.get(&quot;Web.Policy.BA.Total.Trucks&quot;)"
                value="baLine.Vehicles.countWhere( \ v -&gt; v.Location.State == gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(theState) and v.VehicleType == TC_COMMERCIAL)"
                valueType="java.lang.Integer"
                wrapLabel="true">
                <ColumnFooter>
                  <TextCell
                    id="TruckTotal"
                    value="baLine.Vehicles.countWhere( \ v -&gt; v.VehicleType == TC_COMMERCIAL)"
                    valueType="java.lang.Integer"/>
                </ColumnFooter>
              </TextCell>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <CardViewPanel>
          <Card
            id="CoverageSummaryCard"
            title="DisplayKey.get(&quot;Web.PolicyLine.Coverages&quot;)">
            <PanelRef
              editable="false">
              <TitleBar
                title="DisplayKey.get(&quot;Web.Policy.BA.StateCoverages&quot;, selectedState)"/>
              <Toolbar/>
              <DetailViewPanel
                editable="false"
                id="BAStateCoverageSummaryDV">
                <Variable
                  initialValue="selectedState"
                  name="coveredJurisdiction"
                  recalculateOnRefresh="true"
                  type="typekey.Jurisdiction"/>
                <InputColumn>
                  <Label
                    label="DisplayKey.get(&quot;Web.Policy.BA.StateLevelCoverages&quot;)"/>
                  <ListViewInput
                    def="CoverageSummaryLV(baLine.getOtherthanHiredAndNonOwnedCoverages(coveredJurisdiction)?.toList() as java.util.List&lt;gw.api.domain.Clause&gt;, baLine)"
                    labelAbove="true">
                    <Toolbar/>
                  </ListViewInput>
                </InputColumn>
              </DetailViewPanel>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </PanelRef>
  </PanelSet>
</PCF>