<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingTxDetailsPanelSet"
    mode="BusinessAutoLine">
    <Require
      name="thePeriod"
      type="PolicyPeriod"/>
    <Require
      name="totalPremLabel"
      type="String"/>
    <Require
      name="totalCostLabel"
      type="String"/>
    <Require
      name="revOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="thePeriod.BATransactions.where(\ tx -&gt; ((typeof tx.BACost == BALineCovCost or typeof tx.BACost == BALineCovNonownedCost) and tx.BACost.Vehicle == null) ).toList()"
      name="lineLevelTransactions"
      type="java.util.List&lt;entity.BATransaction&gt;"/>
    <Variable
      initialValue="thePeriod.BATransactions.where(\ tx -&gt; tx.BACost.Vehicle != null ).toList()"
      name="vehicleTransactions"
      type="java.util.List&lt;entity.BATransaction&gt;"/>
    <Variable
      initialValue="thePeriod.BATransactions.where(\ tx -&gt; tx.BACost.RatedOrder != typekey.BARatedOrderType.TC_COVERAGEPREMIUM )?.toList()"
      name="otherTransactions"
      type="java.util.List&lt;entity.BATransaction&gt;"/>
    <Variable
      initialValue="vehicleTransactions.partition(\ tx -&gt; (tx.Cost as BACost).Vehicle)"
      name="vehicleTranactionsByVehicle"
      type="java.util.Map&lt;entity.BusinessVehicle, List&lt;entity.BATransaction&gt;&gt;"/>
    <PanelRef>
      <TitleBar
        title="DisplayKey.get(&quot;Web.Policy.BA.LineLevelTransactions&quot;)"/>
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            def="BACoverageTxLV(lineLevelTransactions,  true)">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef>
      <TitleBar
        title="DisplayKey.get(&quot;Web.Policy.BA.VehicleTransactions&quot;)"/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput>
            <Toolbar/>
            <ListViewPanel
              id="vehicleLV">
              <RowIterator
                editable="false"
                elementName="vehicle"
                id="vehicleList"
                pageSize="0"
                value="vehicleTranactionsByVehicle.Keys.toTypedArray()"
                valueType="entity.BusinessVehicle[]">
                <IteratorSort
                  sortBy="vehicle.Location.LocationNum"
                  sortOrder="1"/>
                <IteratorSort
                  sortBy="vehicle.VehicleNumber"
                  sortOrder="2"/>
                <Row>
                  <TextCell
                    id="vehLoc"
                    label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.GarageLocation&quot;)"
                    value="vehicle.Location.DisplayName"/>
                  <TextCell
                    action="BAVehicleTxDetailPopup.push(vehicle, vehicleTranactionsByVehicle.get(vehicle))"
                    id="vehNum"
                    label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Number&quot;)"
                    value="vehicle.VehicleNumber"
                    valueType="java.lang.Integer"/>
                  <TextCell
                    action="BAVehicleTxDetailPopup.push(vehicle, vehicleTranactionsByVehicle.get(vehicle))"
                    id="vehVIN"
                    label="DisplayKey.get(&quot;Web.Policy.BA.VIN&quot;)"
                    value="vehicle.Vin"/>
                  <TypeKeyCell
                    id="vehType"
                    label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Type&quot;)"
                    value="vehicle.VehicleType"
                    valueType="typekey.VehicleType"/>
                  <TextCell
                    id="vehClass"
                    label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.ClassCode&quot;)"
                    value="vehicle.VehicleClassCode"/>
                  <TextCell
                    align="left"
                    id="vehYear"
                    label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Year&quot;)"
                    value="vehicle.Year"
                    valueType="java.lang.Integer"/>
                  <TextCell
                    id="vehMake"
                    label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Make&quot;)"
                    value="vehicle.Make"/>
                  <TextCell
                    id="vehModel"
                    label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Model&quot;)"
                    value="vehicle.Model"/>
                  <MonetaryAmountCell
                    action="BAVehicleTxDetailPopup.push(vehicle, vehicleTranactionsByVehicle.get(vehicle))"
                    footerSumValue="vehicleTranactionsByVehicle.get(vehicle).AmountSum(thePeriod.PreferredSettlementCurrency)"
                    formatType="currency"
                    id="vehAmount"
                    label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
                    value="vehicleTranactionsByVehicle.get(vehicle).AmountSum(thePeriod.PreferredSettlementCurrency)"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <DetailViewPanel>
      <InputColumn>
        <ListViewInput
          boldLabel="true"
          label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.OtherPremiums.Title&quot;)"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              canPick="false"
              editable="false"
              elementName="otherTransaction"
              pageSize="0"
              value="otherTransactions"
              valueType="java.util.List&lt;entity.BATransaction&gt;">
              <IteratorSort
                sortBy="otherTransaction.BACost.RateAmountType.Priority"
                sortOrder="1"/>
              <IteratorSort
                sortBy="otherTransaction.BACost.EffDate"
                sortOrder="2"/>
              <Row>
                <TextCell
                  enableSort="false"
                  footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
                  id="Description"
                  label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.OtherPremiums.Description&quot;)"
                  value="otherTransaction"
                  valueType="entity.BATransaction"/>
                <TypeKeyCell
                  enableSort="false"
                  id="Jurisdiction"
                  label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.Jurisdiction&quot;)"
                  value="otherTransaction.BACost.State"
                  valueType="typekey.Jurisdiction"/>
                <MonetaryAmountCell
                  enableSort="false"
                  footerSumValue="otherTransaction.AmountBilling"
                  formatType="currency"
                  id="Amount"
                  label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.Amount&quot;)"
                  value="otherTransaction.AmountBilling"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>