<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ToolbarButtonSet
    id="JobWizardToolbarButtonSet"
    mode="Rewrite">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="job"
      type="Job"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="CurrentLocation as pcf.api.Wizard"
      name="wizard"
      type="pcf.api.Wizard"/>
    <Variable
      initialValue="job as Rewrite"
      name="rewrite"
      recalculateOnRefresh="true"
      type="Rewrite"/>
    <Variable
      initialValue="policyPeriod.RewriteProcess"
      name="rewriteProcess"
      type="gw.job.RewriteProcess"/>
    <ToolbarButton
      action="UWActivityPopup.push(policyPeriod, ActivityPattern.finder.getActivityPatternByCode(&quot;uw_review_approved&quot;),&quot;UWApproval&quot;)"
      id="Unlock"
      label="DisplayKey.get(&quot;Job.Operation.ReleaseLock&quot;)"
      shortcut="K"
      visible="rewriteProcess.canReleaseLock()"/>
    <ToolbarButton
      action="jobWizardHelper.requestQuote(policyPeriod, jobWizardHelper.getQuoteStep(policyPeriod))"
      id="QuoteOrReview"
      label="DisplayKey.get(&quot;Job.Operation.Quote&quot;)"
      shortcut="Q"
      visible="rewriteProcess.canRequestQuote().Okay"/>
    <ToolbarButton
      action="rewriteProcess.edit(); wizard.saveDraft(); jobWizardHelper.goToVisibleStep(policyPeriod)"
      confirmMessage="DisplayKey.get(&quot;Job.Operation.Edit.Confirm&quot;)"
      id="EditPolicy"
      label="DisplayKey.get(&quot;Job.Operation.EditWorkOrder&quot;)"
      shortcut="E"
      visible="rewriteProcess.canEdit().Okay"/>
    <ToolbarButton
      action="wizard.saveDraft()"
      hideIfReadOnly="true"
      id="Draft"
      label="DisplayKey.get(&quot;Button.SaveDraft&quot;)"
      shortcut="S"/>
    <ToolbarButton
      action="jobWizardHelper.requestIssueJob(policyPeriod)"
      confirmMessage="DisplayKey.get(&quot;Job.Operation.IssuePolicy.Confirm&quot;)"
      id="BindRewrite"
      label="DisplayKey.get(&quot;Job.Operation.IssuePolicy&quot;)"
      shortcut="I"
      visible="rewriteProcess.canRewrite().Okay"/>
    <ToolbarButton
      action="jobWizardHelper.withdraw(policyPeriod); PolicyFileForward.go(policyPeriod.PolicyNumber);"
      confirmMessage="DisplayKey.get(&quot;Job.Operation.Withdraw.Confirm&quot;)"
      id="WithdrawJob"
      label="DisplayKey.get(&quot;Job.Operation.Withdraw&quot;)"
      shortcut="W"
      visible="rewriteProcess.canWithdraw().Okay"/>
  </ToolbarButtonSet>
</PCF>