<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="TeamSummaryLV">
    <Require
      name="teamModel"
      type="gw.api.web.team.PCTeamModel"/>
    <Require
      name="statsType"
      type="typekey.TeamStatsType"/>
    <Row
      renderAsSmartHeader="true">
      <TextCell
        align="left"
        colspan="1"
        id="NameGroup"
        value="&quot;-&quot;"/>
      <TextCell
        align="center"
        colspan="3"
        id="ActivitiesGroup"
        value="DisplayKey.get(&quot;Web.Team.Activities.Header&quot;, gw.api.domain.statistics.StatsWindowUtil.getActivitiesWindow())"/>
      <TextCell
        align="center"
        colspan="3"
        id="SubmissionsGroup"
        value="DisplayKey.get(&quot;Web.Team.Submissions.Header&quot;, gw.api.domain.statistics.StatsWindowUtil.getSubmissionsWindow())"/>
      <TextCell
        align="center"
        colspan="5"
        id="RenewalsGroup"
        value="DisplayKey.get(&quot;Web.Team.Renewals.Header&quot;, gw.api.domain.statistics.StatsWindowUtil.getRenewalsWindow())"/>
      <TextCell
        align="center"
        colspan="3"
        id="PolicyChangesGroup"
        value="DisplayKey.get(&quot;Web.Team.WorkOrders.Header&quot;, gw.api.domain.statistics.StatsWindowUtil.getOtherWorkOrdersWindow())"/>
    </Row>
    <Row
      renderAsSmartHeader="true">
      <TextCell
        align="left"
        enableSort="false"
        id="NameHeader"
        value="DisplayKey.get(&quot;Web.Team.Summary.Name&quot;)"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;open.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Activities.Open&quot;)"
        id="OpenActivitiesHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Activities.Open&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;overdue.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Activities.Overdue&quot;)"
        id="OverdueActivitiesHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Activities.Overdue&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;completed.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Activities.Completed&quot;)"
        id="CompletedActivitiesHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Activities.Completed&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;open.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Submissions.Open&quot;)"
        id="OpenSubmissionsHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Submissions.Open&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;new-24.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Submissions.New&quot;)"
        id="NewSubmissionsHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Submissions.New&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;policy.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Submissions.Bound&quot;)"
        id="BoundSubmissionsHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Submissions.Bound&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;open.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Renewals.Open&quot;)"
        id="OpenRenewalsHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Renewals.Open&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;new-24.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Renewals.New&quot;)"
        id="NewRenewalsHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Renewals.New&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;infobar_Renewal.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Renewals.Renewed&quot;)"
        id="RenewedRenewalsHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Renewals.Renewed&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;new_renewal.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Renewals.NonRenewed&quot;)"
        id="NonRenewedRenewalsHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Renewals.NonRenewed&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;not_taken.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.Renewals.NotTaken&quot;)"
        id="NotTakenRenewalsHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.Renewals.NotTaken&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;open.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.PolicyChanges.Open&quot;)"
        id="OpenPolicyChangesHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.PolicyChanges.Open&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;new-24.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.PolicyChanges.New&quot;)"
        id="NewPolicyChangesHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.PolicyChanges.New&quot;)"
        value="true"
        valueType="boolean"/>
      <BooleanRadioCell
        align="right"
        enableSort="false"
        icon="&quot;approved.png&quot;"
        iconLabel="DisplayKey.get(&quot;Web.Team.Summary.PolicyChanges.Approved&quot;)"
        id="ApprovedPolicyChangesHeader"
        tooltip="DisplayKey.get(&quot;Web.Team.Summary.PolicyChanges.Approved&quot;)"
        value="true"
        valueType="boolean"/>
    </Row>
    <RowIterator
      editable="false"
      elementName="stats"
      value="teamModel.getSummary(statsType)"
      valueType="gw.api.web.team.summaryrow.TeamSummaryRow[]">
      <Row>
        <TextCell
          align="left"
          enableSort="false"
          id="Name"
          value="stats.Name"/>
        <TextCell
          align="right"
          enableSort="false"
          id="OpenActivities"
          value="stats.OpenActivities"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="OverdueActivities"
          value="stats.OverdueActivities"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="CompletedActivities"
          value="stats.CompletedActivities"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="OpenSubmissions"
          value="stats.OpenSubmissions"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="NewSubmissions"
          value="stats.NewSubmissions"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="BoundSubmissions"
          value="stats.BoundSubmissions"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="OpenRenewals"
          value="stats.OpenRenewals"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="NewRenewals"
          value="stats.NewRenewals"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="RenewedRenewals"
          value="stats.RenewedRenewals"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="NonRenewedRenewals"
          value="stats.NonRenewedRenewals"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="NotTakenRenewals"
          value="stats.NotTakenRenewals"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="OpenPolicyChanges"
          value="stats.OpenMidTermChanges"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="NewPolicyChanges"
          value="stats.NewMidTermChanges"
          valueType="java.lang.Integer"
          width="60"/>
        <TextCell
          align="right"
          enableSort="false"
          id="ApprovedPolicyChanges"
          value="stats.ApprovedMidTermChanges"
          valueType="java.lang.Integer"
          width="60"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>