<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ContactFile_Policies"
    title="DisplayKey.get(&quot;Web.ContactFile.Policies.Title&quot;)">
    <LocationEntryPoint
      signature="ContactFile_Policies(contact : Contact)"/>
    <Variable
      name="contact"
      type="Contact"/>
    <Screen>
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="AssociatedPoliciesLV">
          <Variable
            initialValue="new gw.account.ProductCodeFilterSet(contact.AccountContacts.map(\ac -&gt; ac.Account))"
            name="productCodeFilterSet"
            type="gw.account.ProductCodeFilterSet"/>
          <RowIterator
            editable="false"
            elementName="item"
            value="contact.AssociationFinder.findLatestBoundPolicyPeriods()"
            valueType="java.util.List&lt;entity.PolicyPeriod&gt;">
            <ToolbarFilter
              id="PolicyPeriodStatusFilter"
              label="DisplayKey.get(&quot;Web.ContactFile.Policies.Filter.Status&quot;)"
              name="displayPolicyPeriodByStatus">
              <ToolbarFilterOptionGroup
                filters="new gw.policy.PolicyFilters().FilterOptions"/>
            </ToolbarFilter>
            <ToolbarFilter
              id="ProductFilter"
              label="DisplayKey.get(&quot;Web.ContactFile.Policies.Filter.Product&quot;)"
              name="productCodeFilter">
              <ToolbarFilterOption
                filter="productCodeFilterSet.getAllFilter()"
                label="DisplayKey.get(&quot;Java.ToolBar.Claim.All&quot;)"
                selectOnEnter="true"/>
              <ToolbarFilterOptionGroup
                filters="productCodeFilterSet.getClaimPolicyPeriodFilters()"/>
            </ToolbarFilter>
            <Row
              useArchivedStyle="item.PolicyTerm.Archived">
              <LinkCell
                label="DisplayKey.get(&quot;Web.ContactFile.AccountHolder.Account&quot;)"
                width="150">
                <Link
                  action="AccountFileDoRetrievalForward.go(item.Policy.Account.AccountNumber)"
                  id="PolicyAccount"
                  label="item.Policy.Account.AccountHolderContact.DisplayName"
                  tooltip="item.Policy.Account.AccountNumber"/>
              </LinkCell>
              <TextCell
                action="PolicyFileForward.go(item.PolicyNumber, item.PeriodStart)"
                id="PolicyNumber"
                label="DisplayKey.get(&quot;Web.Contact.Associations.PolicyNumber&quot;)"
                value="item.PolicyNumberDisplayString"/>
              <TextCell
                id="PolicyType"
                label="DisplayKey.get(&quot;Web.Contact.Associations.PolicyType&quot;)"
                sortBy="item.Policy.ProductCode"
                value="item.Policy.Product"
                valueType="gw.api.productmodel.Product"/>
              <TextCell
                id="Status"
                label="DisplayKey.get(&quot;Web.Contact.Associations.Status&quot;)"
                value="item.Policy.LatestBoundPeriod.PeriodDisplayStatus"/>
              <DateCell
                id="PolicyStarted"
                label="DisplayKey.get(&quot;Web.AccountFile.MovePolicies.PoliciesSelection.PolicyStartDate&quot;)"
                value="item.Policy.findEarliestPeriodStart()"/>
              <DateCell
                id="EffectiveDate"
                label="DisplayKey.get(&quot;Web.Contact.Associations.CurrentEffectiveDate&quot;)"
                value="item.Policy.LatestBoundPeriod.PeriodStart"/>
              <DateCell
                id="ExpirationDate"
                label="DisplayKey.get(&quot;Web.Contact.Associations.CurrentExpirationDate&quot;)"
                value="item.Policy.LatestBoundPeriod.PeriodEnd"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <DetailViewPanel
        visible="gw.api.archive.PCArchivingUtil.isArchiveEnabled()">
        <InputFooterSection>
          <Label
            label="DisplayKey.get(&quot;Web.ContactFile.Policies.Archive.Footer&quot;)"/>
        </InputFooterSection>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>
