<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ContactFile_WorkOrdersLV">
    <Require
      name="inProgressOnly"
      type="boolean"/>
    <Require
      name="results"
      type="Job[]"/>
    <RowIterator
      canPick="false"
      editable="false"
      elementName="workorder"
      value="results"
      valueType="entity.Job[]">
      <Row
        useArchivedStyle="workorder.LatestPeriod.PolicyTerm.Archived">
        <DateCell
          id="CreateDate"
          label="DisplayKey.get(&quot;Web.Contact.Associations.CreateDate&quot;)"
          sortOrder="1"
          value="workorder.CreateTime"/>
        <LinkCell
          label="DisplayKey.get(&quot;Web.ContactFile.AccountHolder.Account&quot;)"
          width="150">
          <Link
            action="AccountFileDoRetrievalForward.go(workorder.Policy.Account.AccountNumber)"
            id="PolicyAccount"
            label="workorder.Policy.Account.AccountHolderContact.DisplayName"
            tooltip="workorder.Policy.Account.AccountNumber"/>
        </LinkCell>
        <TextCell
          action="PolicyFileForward.go(workorder.LatestPeriod.PolicyNumber)"
          available="not workorder?.createsNewPolicy()"
          enableSort="false"
          id="PolicyNumber"
          label="DisplayKey.get(&quot;Web.Contact.Associations.PolicyNumber&quot;)"
          value="workorder.LatestPeriod.PolicyNumberDisplayString"/>
        <TextCell
          enableSort="false"
          id="PolicyType"
          label="DisplayKey.get(&quot;Web.Contact.Associations.PolicyType&quot;)"
          value="workorder.LatestPeriod.Policy.Product"
          valueType="gw.api.productmodel.Product"/>
        <TextCell
          action="JobNumberForward.go(workorder.JobNumber)"
          id="WorkOrderNumber"
          label="DisplayKey.get(&quot;Web.Contact.Associations.WorkOrderNumber&quot;)"
          value="workorder.JobNumber"/>
        <TextCell
          enableSort="false"
          id="WorkOrderType"
          label="DisplayKey.get(&quot;Web.Contact.Associations.WorkOrderType&quot;)"
          value="workorder.DisplayType"/>
        <TypeKeyCell
          enableSort="false"
          id="Status"
          label="DisplayKey.get(&quot;Web.Contact.Associations.WorkOrderStatus&quot;)"
          value="workorder.LatestPeriod.Status"
          valueType="typekey.PolicyPeriodStatus"/>
        <DateCell
          id="DateCompleted"
          label="DisplayKey.get(&quot;Web.ContactFile.WorkOrders.CompletionDate&quot;)"
          sortOrder="1"
          value="workorder.CloseDate"
          visible="!inProgressOnly"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
