<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <InputSet
    id="BLValueInputInputSet"
    mode="DateTime">
    <Require
      name="blInput"
      type="acc.pc.bl.inputs.BLValueInput_Ext"/>
    <DateTimeInput
      editable="true"
      id="blInputID"
      label="blInput.Label"
      value="blInput.DateTimeValue"/>
  </InputSet>
</PCF>