<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.UWRule.view"
    id="UWRules"
    title="DisplayKey.get('Web.BizRules.UWRules.Title')">
    <Variable
      initialValue="new gw.web.bizrules.UWRulesPageHelper(gw.bizrules.UWRulesNavigationSupport.Instance)"
      name="helper"
      type="gw.web.bizrules.UWRulesPageHelper"/>
    <Variable
      initialValue="gw.web.bizrules.UWRuleFilterCriteria.Instance"
      name="filterCriteria"
      type="gw.web.bizrules.UWRuleFilterCriteria"/>
    <Variable
      initialValue="false"
      name="areSearchFieldsVisible"
      type="Boolean"/>
    <Screen>
      <Toolbar>
        <ToolbarButtonSetRef
          iterators="RulesIterator"
          toolbarButtonSet="CreateRuleToolbarButtonSet(gw.bizrules.UWRulesNavigationSupport.Instance)"/>
        <ToolbarButtonSetRef
          iterators="RulesIterator"
          toolbarButtonSet="DeployRulesToolbarButtonSet(helper.NavigationSupport, &quot;RulesIterator&quot;, helper.queryRuleVersions(filterCriteria))"
          visible="helper.VersionController.DeploymentEnabled"/>
        <ToolbarButton
          id="MoreButton"
          label="DisplayKey.get('BizRules.RulesPage.MoreButton')">
          <MenuItemSetRef
            def="RuleListMoreButtonMenuItemSet(helper.NavigationSupport, 'RulesIterator', helper.queryRuleVersions(filterCriteria))"/>
        </ToolbarButton>
        <ToolbarButton
          action="areSearchFieldsVisible = not areSearchFieldsVisible"
          id="ShowHideFilter"
          label="areSearchFieldsVisible ? DisplayKey.get('Web.BizRules.UWRules.Filter.HideFilter') : filterCriteria.Specified ? DisplayKey.get('Web.BizRules.UWRules.Filter.EditFilter') : DisplayKey.get('Web.BizRules.UWRules.Filter.ShowFilter')"/>
        <ToolbarInput
          id="FilteredInput"
          value="DisplayKey.get(&quot;Web.BizRules.UWRules.Filter.FilteredStatus&quot;)"
          valueType="java.lang.String"
          visible="filterCriteria.Specified"/>
        <ToolbarDivider/>
        <ToolbarInput
          id="ValidationStatusToolbarInput"
          value="helper.getValidationStatusDisplay(filterCriteria)"
          valueType="java.lang.String"/>
      </Toolbar>
      <AlertBar
        action="helper.NavigationSupport.goToExportImportStatusPage()"
        allowDismiss="false"
        id="PendingImportAlert"
        label="DisplayKey.get('BizRules.RulesPage.Alert.PendingImportExists')"
        visible="helper.NavigationSupport.VersionController.ExportImportController.doesPendingImportExist()"/>
      <AlertBar
        action="null"
        allowDismiss="false"
        id="ValidationProgressAlert"
        label="DisplayKey.get('BizRules.ValidateAll.Pending', gw.bizrules.validator.ValidateAllWorkQueueUtil.CountWorkItemsPending)"
        visible="gw.bizrules.validator.ValidateAllWorkQueueUtil.isWorkPending()"/>
      <AlertBar
        action="gw.bizrules.validator.ValidateAllWorkQueueUtil.startValidationProcess()"
        allowDismiss="false"
        id="ValidationProcessFailedAlert"
        label="DisplayKey.get('BizRules.ValidateAll.Failed', gw.bizrules.validator.ValidateAllWorkQueueUtil.getLastRunFailureReason())"
        visible="gw.bizrules.validator.ValidateAllWorkQueueUtil.didLastRunFail()"/>
      <SearchPanel
        criteriaName="uwfilterCriteria"
        resultCachingEnabled="false"
        resultsName="results"
        search="helper.queryRuleVersionsWithResults(filterCriteria)"
        searchCriteria="filterCriteria"
        searchCriteriaType="gw.web.bizrules.UWRuleFilterCriteria"
        searchOnEnter="true"
        searchResultsType="gw.api.database.IQueryBeanResult&lt;entity.UWRuleVersion&gt;">
        <PanelRef
          def="UWRuleFilterCriteriaDV(filterCriteria, helper)"
          id="SearchCriteriaPanelRef"
          visible="areSearchFieldsVisible"/>
        <PanelRef
          def="EmptyDV()"
          editable="true"
          visible="areSearchFieldsVisible">
          <Toolbar>
            <ToolbarButton
              action="gw.api.util.SearchUtil.search()"
              id="Filter"
              label="DisplayKey.get('Web.BizRules.UWRules.Filter.Filter')"/>
            <ToolbarButton
              action="filterCriteria.clear(); gw.api.util.SearchUtil.search()"
              id="Clear"
              label="DisplayKey.get('Button.Clear')"/>
          </Toolbar>
        </PanelRef>
        <ListViewPanel
          id="RulesLV">
          <RowIterator
            editable="false"
            elementName="version"
            hasCheckBoxes="true"
            id="RulesIterator"
            pageSize="25"
            type="entity.UWRuleVersion"
            value="helper.queryRuleVersions(filterCriteria).select()"
            valueType="gw.api.database.IQueryBeanResult&lt;UWRuleVersion&gt;">
            <ToolbarFlag
              name="AlwaysTrue"/>
            <Row>
              <ModalCellRef
                align="center"
                def="RuleValidationInfoCell(version.Rule)"
                id="RuleValidationInfo"
                label="DisplayKey.get('Web.BizRules.UWRules.State')"
                mode="&quot;uwrule&quot;"
                width="38"/>
              <TextCell
                action="UWRuleDetail.go(helper.getHead(version), version)"
                id="Name"
                label="DisplayKey.get('Web.BizRules.UWRules.Name')"
                sortOrder="1"
                value="version.Rule.Name"/>
              <TextCell
                id="Status"
                label="DisplayKey.get('BizRules.RulesPage.LV.Status')"
                value="helper.getStatusText(version)"
                valueType="String"/>
              <BooleanRadioCell
                icon="&quot;ok.png&quot;"
                iconLabel="DisplayKey.get('Button.Yes')"
                id="AvailableToRun"
                label="DisplayKey.get('BizRules.RulesPage.LV.Available')"
                showHeaderIcon="false"
                value="version.Rule.AvailableToRun"/>
              <TextAreaCell
                id="PolicyTransactions"
                label="DisplayKey.get('Web.BizRules.UWRules.PolicyTransaction')"
                sortBy="version.Rule.Name"
                value="helper.join(version.Rule.PolicyTransactions*.Job*.DisplayName)"/>
              <TextAreaCell
                id="PolicyLine"
                label="DisplayKey.get('Web.BizRules.UWRules.PolicyLine')"
                sortBy="version.Rule.Name"
                value="helper.join(version.Rule.LinesOfBusiness*.PolicyLine*.DisplayName)"/>
              <TextAreaCell
                id="Jurisdictions"
                label="DisplayKey.get('Web.BizRules.UWRules.Jurisdiction')"
                sortBy="version.Rule.Name"
                value="helper.join(version.Rule.Jurisdictions*.Jurisdiction*.DisplayName)"/>
              <TypeKeyCell
                id="CheckingSet"
                label="DisplayKey.get('Web.BizRules.UWRules.CheckingSet')"
                value="version.Rule.TriggeringPointKey"
                valueType="typekey.TriggeringPointKey"/>
              <TypeKeyCell
                id="BlockingPoint"
                label="DisplayKey.get('Web.BizRules.UWRules.BlockingPoint')"
                value="version.Rule.UWIssueType.BlockingPoint"
                valueType="typekey.UWIssueBlockingPoint"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>
