<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <PanelSet
    id="IMPartTxDetailsPanelSet"
    mode="ContractorsEquipPart">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="policyPeriod.IMTransactions.where(\ trans -&gt; trans.Cost typeis ContrEquipPartCovCost).toList()"
      name="contractorsEquipmentPartTxs"
      recalculateOnRefresh="true"
      type="java.util.List&lt;entity.IMTransaction&gt;"/>
    <Variable
      initialValue="policyPeriod.IMTransactions.where(\ trans -&gt; trans.Cost typeis ContrEquipCovCost).toSet().byFixedContractorsEquipment()"
      name="equipmentToTxsMap"
      recalculateOnRefresh="true"
      type="java.util.Map&lt;entity.ContractorsEquipment, java.util.Set&lt;entity.IMTransaction&gt;&gt;"/>
    <Variable
      initialValue="contractorsEquipmentPartTxs.AnyProrated"
      name="prorated"
      recalculateOnRefresh="true"
      type="boolean"/>
    <DetailViewPanel
      visible="contractorsEquipmentPartTxs.HasElements">
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipments&quot;)"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              editable="false"
              elementName="partTransaction"
              id="partCovIterator"
              value="contractorsEquipmentPartTxs.toTypedArray()"
              valueType="entity.IMTransaction[]">
              <Variable
                initialValue="(partTransaction.Cost as ContrEquipPartCovCost).ContrEquipPartCov"
                name="partCov"
                recalculateOnRefresh="true"
                type="entity.ContrEquipPartCov"/>
              <IteratorSort
                sortBy="(partTransaction.Cost as ContrEquipPartCovCost).ContrEquipPartCov.Pattern"
                sortOrder="1"/>
              <IteratorSort
                sortBy="partTransaction.AmountBilling"
                sortOrder="2"/>
              <Row>
                <TextCell
                  enableSort="false"
                  footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
                  id="PartCovDescription"
                  label="DisplayKey.get(&quot;Web.PolicyLine.Coverages.Description&quot;)"
                  value="partCov.Pattern.DisplayName"
                  width="300"
                  wrap="true"/>
                <MonetaryAmountCell
                  enableSort="false"
                  formatType="currency"
                  id="PartCovTermAmount"
                  label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Amount&quot;)"
                  value="partTransaction.Cost.ActualTermAmountBilling"
                  visible="prorated"/>
                <DateCell
                  id="PartCovEffDate"
                  label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
                  value="partTransaction.EffDate"
                  visible="prorated"/>
                <DateCell
                  id="PartCovExpDate"
                  label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
                  value="partTransaction.ExpDate"
                  visible="prorated"/>
                <TextCell
                  id="PartCovTxProration"
                  label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Prorata&quot;)"
                  value="gw.api.util.StringUtil.formatNumber(partTransaction.Proration, &quot;#0.0000&quot;)"
                  visible="prorated"/>
                <MonetaryAmountCell
                  align="right"
                  enableSort="false"
                  footerSumValue="partTransaction.AmountBilling"
                  formatType="currency"
                  id="PartCovAmount"
                  label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
                  value="partTransaction.AmountBilling"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
    <DetailViewPanel
      visible="equipmentToTxsMap.Keys.HasElements">
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.ScheduledEquipmentCoverages&quot;)"/>
      </InputColumn>
    </DetailViewPanel>
    <PanelIterator
      elementName="equipment"
      value="equipmentToTxsMap.Keys.toTypedArray()"
      valueType="entity.ContractorsEquipment[]">
      <IteratorSort
        sortBy="equipment.ContractorsEquipmentNumber"
        sortOrder="1"/>
      <Variable
        initialValue="equipmentToTxsMap.get(equipment)"
        name="txs"
        type="java.util.Set&lt;entity.IMTransaction&gt;"/>
      <DetailViewPanel>
        <InputColumn>
          <Label
            id="equipmentName"
            label="equipment.DisplayName"/>
          <ListViewInput
            boldLabel="true"
            def="RateTxContractorsEquipmentCoveragesLV(equipment, txs)"
            labelAbove="true">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelIterator>
  </PanelSet>
</PCF>