<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="VirtualProductFlavourPanelSet">
    <Require
      name="pageProcess"
      type="acc.pc.virtualproduct.pageprocess.VirtualProductDetailPageProcess"/>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="&quot;Virtual Product Flavours&quot;"/>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef>
      <Toolbar>
        <IteratorButtons
          addVisible="true"
          iterator="flavourRowIterator"
          removeVisible="true"/>
      </Toolbar>
      <ListViewPanel
        editable="true">
        <RowIterator
          checkBoxVisible="true"
          editable="true"
          elementName="flavour"
          hasCheckBoxes="true"
          id="flavourRowIterator"
          toCreateAndAdd="pageProcess.addFlavour(pageProcess.virtualProduct)"
          toRemove="pageProcess.removeFlavour(flavour)"
          value="pageProcess.virtualProduct.VirtualProductFlavours"
          valueType="VirtualProductFlavour_Ext[]">
          <Row
            editable="true">
            <TextCell
              editable="true"
              id="codeCell"
              label="&quot;Code&quot;"
              required="true"
              value="flavour.Code"/>
            <TextCell
              editable="true"
              id="NameCell"
              label="&quot;Name&quot;"
              required="true"
              value="flavour.Name"/>
            <RangeCell
              editable="true"
              id="SchemeCell"
              label="&quot;Scheme&quot;"
              optionLabel="VALUE.Name"
              required="false"
              value="flavour.Scheme"
              valueRange="acc.pc.scheme.util.SchemeUtil.fetchSchemeByProduct(pageProcess.virtualProduct.ProductCode)"
              valueType="Scheme_Ext"/>
            <CheckBoxCell
              editable="true"
              id="defaultCell"
              label="&quot;Default&quot;"
              required="false"
              value="flavour.DefaultFlavour"/>
            <DateCell
              dateFormat="short"
              editable="true"
              id="startDateCell"
              label="&quot;Effective Date&quot;"
              required="true"
              value="flavour.EffectiveDate"/>
            <DateCell
              dateFormat="short"
              editable="true"
              id="endDateCell"
              label="&quot;Expiration Date&quot;"
              required="false"
              value="flavour.ExpirationDate"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>