<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="pageProcess.beforeCommit()"
    canEdit="true"
    canVisit="true"
    id="SchemeConditionDetailPopup"
    startInEditMode="true"
    title="&quot;Scheme Condition Detail&quot;">
    <LocationEntryPoint
      signature="SchemeConditionDetailPopup(schemeDetail : SchemeDetail_Ext)"/>
    <Variable
      name="schemeDetail"
      type="SchemeDetail_Ext"/>
    <Variable
      initialValue="new acc.pc.scheme.pageprocess.SchemeConditionDetailPopupProcess(schemeDetail, CurrentLocation)"
      name="pageProcess"
      type="acc.pc.scheme.pageprocess.SchemeConditionDetailPopupProcess"/>
    <Screen
      editable="true">
      <Toolbar>
        <EditButtons
          cancelVisible="true"
          editVisible="true"
          updateVisible="true"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="pageProcess.deleteCondition()"
          id="DeleteToolbarButton"
          label="&quot;Remove&quot;"/>
      </Toolbar>
      <DetailViewPanel
        editable="true">
        <InputColumn>
          <RangeInput
            editable="true"
            id="Condition"
            label="&quot;Condition&quot;"
            optionLabel="VALUE.Name"
            required="false"
            value="pageProcess.schemeDetail.SchemeCondition"
            valueRange="pageProcess.availableSchemeConditions(pageProcess.schemeDetail.Scheme.ProductCode)"
            valueType="entity.SchemeCondition_Ext">
            <PostOnChange
              onChange="pageProcess.conditionChange()"/>
          </RangeInput>
          <TypeKeyInput
            id="status"
            label="&quot;Status&quot;"
            required="false"
            value="pageProcess.schemeDetail.SchemeCondition?.GeneralStatus"
            valueType="typekey.GeneralStatusType_Ext"/>
        </InputColumn>
        <InputColumn>
          <Label
            label="&quot;Description&quot;"/>
          <TextAreaInput
            id="schemeDescription"
            numCols="100"
            numRows="7"
            value="pageProcess.schemeDetail.SchemeCondition?.Description"/>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel>
        <RowIterator
          editable="true"
          elementName="param"
          value="pageProcess.schemeDetail.SchemeDetailParams"
          valueType="entity.SchemeDetailParam_Ext[]">
          <Row>
            <TextCell
              id="paramName"
              label="&quot;Name&quot;"
              value="param.SchemeConditionParam.Name"/>
            <TypeKeyCell
              id="paramType"
              label="&quot;Type&quot;"
              value="param.SchemeConditionParam.ParamValueType"
              valueType="typekey.SchemeValueType_Ext">
              <PostOnChange/>
            </TypeKeyCell>
            <ModalCellRef
              align="left"
              def="SchemeValueInputCell(param)"
              editable="true"
              label="&quot;Value&quot;"
              mode="param.SchemeConditionParam.ParamValueType.Code"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <PanelRef>
        <Toolbar>
          <ToolbarButton
            action="pageProcess.generateConditionCode()"
            id="ToolbarButton"
            label="&quot;Generate Code&quot;"/>
        </Toolbar>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="&quot;Code&quot;"/>
            <TextAreaInput
              id="GeneratedCode"
              numCols="130"
              numRows="10"
              value="pageProcess.schemeDetail.Condition"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>