<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="SchemeDetailPCFPanelSet">
    <Require
      name="pageProcess"
      type="acc.pc.scheme.pageprocess.SchemeDetailPageProcess"/>
    <PanelRef
      available="pageProcess.scheme.isEditable()">
      <Toolbar>
        <IteratorButtons
          addVisible="true"
          id="pcfschemeDetailAdd"
          iterator="pcfschemeDetailIterator"
          removeVisible="true"/>
        <ToolbarDivider/>
        <CheckedValuesToolbarButton
          checkedRowAction="pageProcess.cloneDetail(schemeWrapper)"
          id="pcfclonebutton"
          iterator="pcfschemeDetailIterator"
          label="&quot;Clone&quot;"/>
      </Toolbar>
      <ListViewPanel
        available="true"
        editable="true">
        <RowIterator
          checkBoxVisible="true"
          editable="true"
          elementName="schemeWrapper"
          id="pcfschemeDetailIterator"
          pageSize="0"
          toCreateAndAdd="pageProcess.addDetail(SchemeSourceType_Ext.TC_PCF)"
          toRemove="pageProcess.removeDetail(schemeWrapper)"
          type="acc.pc.scheme.pageprocess.SchemeDetailPageProcess.SchemeDetailWrapper"
          value="pageProcess.schemeDetailWrappers?.where(\ s -&gt; s.schemeDetail.SchemeSourceType == SchemeSourceType_Ext.TC_PCF)"
          valueType="java.util.List&lt;acc.pc.scheme.pageprocess.SchemeDetailPageProcess.SchemeDetailWrapper&gt;">
          <ToolbarFlag
            name="selectedSchemeDetail"/>
          <Row>
            <TextCell
              align="center"
              bold="true"
              fontColor="&quot;Red&quot;"
              id="indicatorcell"
              value="pageProcess.indicateClone(schemeWrapper)"/>
            <TextCell
              editable="true"
              id="schemeDetailParent"
              label="&quot;Parent&quot;"
              value="schemeWrapper.schemeDetail.ParentCode"
              valueType="java.lang.String">
              <PostOnChange/>
            </TextCell>
            <TextCell
              editable="true"
              id="schemeDetailComparator"
              label="&quot;Comparitor&quot;"
              required="true"
              value="schemeWrapper.schemeDetail.Comparator"
              valueType="java.lang.String"/>
            <RangeCell
              editable="true"
              id="schemeDetailAction"
              label="&quot;Action&quot;"
              required="true"
              value="schemeWrapper.schemeDetail.SchemeActionType"
              valueRange="pageProcess.schemeActionTypes(schemeWrapper.schemeDetail.SchemeSourceType)"
              valueType="typekey.SchemeActionType_Ext">
              <PostOnChange/>
            </RangeCell>
            <ButtonCell
              action="pcf.SchemeConditionDetailPopup.push(schemeWrapper.schemeDetail)"
              available="CurrentLocation.InEditMode"
              hideIfDisabled="false"
              id="Condition"
              label="&quot;Condition&quot;"
              value="schemeWrapper.schemeDetail.SchemeCondition == null ? &quot;No Condition&quot; : schemeWrapper.schemeDetail.SchemeCondition.Name"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>