<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    beforeCommit="pageProcess.beforeCommit()"
    canEdit="true"
    canVisit="true"
    countsAsWork="false"
    id="SchemeDetail"
    parent="Scheme()"
    showUpLink="true"
    title="&quot;Scheme Detail&quot;">
    <LocationEntryPoint
      signature="SchemeDetail()"/>
    <LocationEntryPoint
      signature="SchemeDetail(sourceScheme : Scheme_Ext)"/>
    <LocationEntryPoint
      signature="SchemeDetail(sourceScheme : Scheme_Ext, isCopy : boolean)"/>
    <Variable
      name="sourceScheme"
      type="Scheme_Ext"/>
    <Variable
      name="isCopy"
      type="boolean"/>
    <Variable
      initialValue="new acc.pc.scheme.pageprocess.SchemeDetailPageProcess(sourceScheme, CurrentLocation, isCopy)"
      name="pageProcess"
      type="acc.pc.scheme.pageprocess.SchemeDetailPageProcess"/>
    <Screen
      editable="true">
      <Toolbar>
        <EditButtons
          cancelVisible="true"
          editVisible="true"
          updateVisible="true"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="pageProcess.removeScheme()"
          available="pageProcess.remove == true"
          confirmMessage="&quot;Are you sure you want to remove this scheme, this action can not be undone&quot;"
          id="ToolbarButton"
          label="&quot;Remove&quot;"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="pageProcess.scheme.promote()"
          available="pageProcess.scheme.GeneralStatus != typekey.GeneralStatusType_Ext.TC_APPROVED &amp;&amp; CurrentLocation.InEditMode"
          id="promoteButton"
          label="&quot;Promote&quot;"/>
        <ToolbarButton
          action="pageProcess.scheme.demote()"
          available="pageProcess.scheme.GeneralStatus == typekey.GeneralStatusType_Ext.TC_TEST &amp;&amp; CurrentLocation.InEditMode"
          id="demote"
          label="&quot;Demote&quot;"/>
      </Toolbar>
      <CardViewPanel>
        <Card
          id="detailCard"
          title="&quot;Details&quot;">
          <DetailViewPanel>
            <InputColumn>
              <TextInput
                editable="pageProcess.scheme.isEditable()"
                id="schemeDetailMainCode"
                label="&quot;Code&quot;"
                required="true"
                value="pageProcess.scheme.Code"/>
              <TextInput
                editable="pageProcess.scheme.isEditable()"
                id="schemeDetailMainName"
                label="&quot;Name&quot;"
                required="true"
                value="pageProcess.scheme.Name"/>
              <TypeKeyInput
                editable="true"
                id="type"
                label="&quot;Type&quot;"
                required="true"
                value="pageProcess.scheme.SchemeType"
                valueType="typekey.SchemeType_Ext"/>
              <TypeKeyInput
                id="status"
                label="&quot;Status&quot;"
                required="true"
                value="pageProcess.scheme.GeneralStatus"
                valueType="typekey.GeneralStatusType_Ext"/>
              <RangeInput
                editable="pageProcess.scheme.isEditable()"
                id="ProductCode"
                label="&quot;Product&quot;"
                required="true"
                value="pageProcess.scheme.schemeProduct"
                valueRange="pageProcess.availableProducts()"
                valueType="gw.api.productmodel.Product">
                <PostOnChange
                  onChange="pageProcess.loadCoverages()"/>
              </RangeInput>
              <DateInput
                dateFormat="short"
                editable="pageProcess.scheme.isEditable()"
                id="startDateInput"
                label="&quot;Start Date&quot;"
                required="true"
                value="pageProcess.scheme.StartDate"/>
              <DateInput
                dateFormat="short"
                editable="true"
                id="endDateInput"
                label="&quot;End Date&quot;"
                required="false"
                value="pageProcess.scheme.EndDate"/>
              <CheckBoxInput
                editable="pageProcess.scheme.isEditable()"
                id="renewal"
                label="&quot;Renewal&quot;"
                required="false"
                value="pageProcess.scheme.RenewalAvailable"/>
            </InputColumn>
            <InputColumn>
              <Label
                label="&quot;Description&quot;"/>
              <TextAreaInput
                editable="pageProcess.scheme.isEditable()"
                id="schemeDescription"
                numCols="50"
                numRows="7"
                value="pageProcess.scheme.Description"/>
            </InputColumn>
            <InputColumn>
              <RangeInput
                editable="true"
                id="superceeding"
                label="&quot;Superseding Scheme&quot;"
                optionLabel="VALUE.Name"
                required="false"
                value="pageProcess.scheme.SupersedingScheme"
                valueRange="pageProcess.allSchemes()"
                valueType="entity.Scheme_Ext"/>
              <CheckBoxInput
                editable="pageProcess.scheme.isEditable()"
                id="removeCheck"
                label="&quot;Remove Scheme&quot;"
                value="pageProcess.remove">
                <PostOnChange/>
              </CheckBoxInput>
            </InputColumn>
          </DetailViewPanel>
          <CardViewPanel>
            <Card
              id="EligibilityCard"
              title="&quot;Eligibility&quot;">
              <PanelRef
                def="SchemeDetailElegebilityPanelSet(pageProcess)"/>
            </Card>
            <Card
              id="attributecard"
              title="&quot;Attributes&quot;"
              visible="true">
              <PanelRef
                def="SchemeDetailAttributePanelSet(pageProcess)"/>
            </Card>
            <Card
              id="coverageCard"
              title="&quot;Coverages&quot;">
              <PanelRef
                def="SchemeDetailCoveragePanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="coveragetermCard"
              title="&quot;Coverage Terms&quot;">
              <PanelRef
                def="SchemeDetailCoverageTermPanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="conditionCard"
              title="&quot;Conditions&quot;">
              <PanelRef
                def="SchemeDetailConditionsPanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="ExclusionCard"
              title="&quot;Exclsions&quot;">
              <PanelRef
                def="SchemeDetailExclusionsPanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="ModifierCard"
              title="&quot;Modifiers&quot;">
              <PanelRef
                def="SchemeDetailModifierPanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="IssueCard"
              title="&quot;Underwriting Issues&quot;">
              <PanelRef
                def="SchemeDetailUnderwritingIssuePanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="ValidationCard"
              title="&quot;Validation Context&quot;"
              visible="true">
              <PanelRef
                def="SchemeDetailValidationContextPanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="RatingCoverageCard"
              title="&quot;Coverage Rates&quot;">
              <PanelRef
                def="SchemeDetailRatingCoveragePanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="RatingCostCategoryCard"
              title="&quot;Rating Cost Category&quot;"
              visible="false">
              <PanelRef
                def="SchemeDetailRatingCostCategoryPanelSet(pageProcess)"
                editable="true"/>
            </Card>
            <Card
              id="PCFCard"
              title="&quot;PCF&quot;"
              visible="true">
              <PanelRef
                def="SchemeDetailPCFPanelSet(pageProcess)"
                editable="true"/>
            </Card>
          </CardViewPanel>
        </Card>
        <Card
          id="producersCard"
          title="&quot;Producers&quot;">
          <DetailViewPanel
            editable="pageProcess.scheme.isEditable()">
            <InputColumn>
              <TextInput
                id="schemeDetailMainCodeDO"
                label="&quot;Code&quot;"
                required="false"
                value="pageProcess.scheme.Code"/>
              <TextInput
                id="schemeDetailMainNameDO"
                label="&quot;Name&quot;"
                required="false"
                value="pageProcess.scheme.Name"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelRef
            available="pageProcess.scheme.isEditable()">
            <Toolbar
              id="producerstoolbar">
              <IteratorButtons
                addVisible="true"
                iterator="producersIterator"
                removeVisible="true"/>
            </Toolbar>
            <ListViewPanel
              id="producersLV">
              <RowIterator
                checkBoxVisible="true"
                editable="true"
                elementName="schemeProducer"
                id="producersIterator"
                toCreateAndAdd="pageProcess.addSchemeProducer()"
                toRemove="pageProcess.scheme.removeFromProducers(schemeProducer)"
                value="pageProcess.scheme.Producers"
                valueType="entity.SchemeProducer_Ext[]">
                <Row>
                  <RangeCell
                    editable="true"
                    id="producercodecell"
                    label="&quot;Producer Code&quot;"
                    required="true"
                    value="schemeProducer.Producer"
                    valueRange="pageProcess.allProducers()"
                    valueType="entity.ProducerCode"/>
                  <TypeKeyCell
                    editable="true"
                    id="rolecell"
                    label="&quot;Role&quot;"
                    required="true"
                    value="schemeProducer.BillingProducerRole"
                    valueType="typekey.BillingProducerRole_Ext"/>
                  <CheckBoxCell
                    editable="true"
                    id="payercell"
                    label="&quot;Payer&quot;"
                    value="schemeProducer.Payer"/>
                  <TextCell
                    editable="true"
                    id="commissioncell"
                    label="&quot;Commission&quot;"
                    value="schemeProducer.CommissionPercent"
                    valueType="java.lang.Integer"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="searchCard"
          title="&quot;Search&quot;"
          visible="false">
          <PanelRef
            available="pageProcess.scheme.isEditable()">
            <Toolbar
              id="searchtoolbar">
              <IteratorButtons
                addVisible="true"
                iterator="searchIterator"
                removeVisible="true"/>
            </Toolbar>
            <ListViewPanel
              id="searchLV">
              <RowIterator
                checkBoxVisible="true"
                editable="true"
                elementName="search"
                id="searchIterator"
                toCreateAndAdd="pageProcess.addLocalSearch()"
                toRemove="pageProcess.removeLocalSearch(search)"
                value="pageProcess.searches.where(\ l -&gt; l.localRemove != true)"
                valueType="java.util.List&lt;acc.pc.scheme.pageprocess.SchemeDetailPageProcess.LocalSearch&gt;">
                <Row>
                  <RangeCell
                    editable="true"
                    id="keycell"
                    label="&quot;Key&quot;"
                    optionLabel="VALUE.SearchKey"
                    required="true"
                    value="search.key"
                    valueRange="acc.pc.scheme.SchemeSearchUtil.SearchKeys()"
                    valueType="entity.SchemeSearchKey_Ext"/>
                  <TextCell
                    editable="true"
                    id="valuecell"
                    label="&quot;Value&quot;"
                    value="search.value"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>