<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="SchemeDetailCoveragePanelSet">
    <Require
      name="pageProcess"
      type="acc.pc.scheme.pageprocess.SchemeDetailPageProcess"/>
    <PanelRef
      available="pageProcess.scheme.isEditable()">
      <Toolbar>
        <IteratorButtons
          addVisible="true"
          id="CoverageschemeDetailAdd"
          iterator="CoverageschemeDetailIterator"
          removeVisible="true"/>
        <ToolbarDivider/>
        <CheckedValuesToolbarButton
          checkedRowAction="pageProcess.cloneDetail(schemeWrapper)"
          id="Coverageclonebutton"
          iterator="CoverageschemeDetailIterator"
          label="&quot;Clone&quot;"/>
      </Toolbar>
      <ListViewPanel
        available="true"
        editable="true">
        <RowIterator
          checkBoxVisible="true"
          editable="true"
          elementName="schemeWrapper"
          id="CoverageschemeDetailIterator"
          pageSize="0"
          toCreateAndAdd="pageProcess.addDetail(SchemeSourceType_Ext.TC_COVERAGE)"
          toRemove="pageProcess.removeDetail(schemeWrapper)"
          type="acc.pc.scheme.pageprocess.SchemeDetailPageProcess.SchemeDetailWrapper"
          value="pageProcess.schemeDetailWrappers?.where(\ s -&gt; s.schemeDetail.SchemeSourceType == SchemeSourceType_Ext.TC_COVERAGE)"
          valueType="java.util.List&lt;acc.pc.scheme.pageprocess.SchemeDetailPageProcess.SchemeDetailWrapper&gt;">
          <ToolbarFlag
            name="selectedSchemeDetail"/>
          <IteratorSort
            sortBy="schemeWrapper.localCoverage"
            sortOrder="1"/>
          <IteratorSort
            sortBy="schemeWrapper.schemeDetail.SchemeActionType"
            sortOrder="2"/>
          <IteratorSort
            sortBy="schemeWrapper.schemeDetail.SchemeCondition.Name"
            sortOrder="3"/>
          <Row>
            <TextCell
              align="center"
              bold="true"
              fontColor="&quot;Red&quot;"
              id="indicatorcell"
              value="pageProcess.indicateClone(schemeWrapper)"/>
            <RangeCell
              editable="true"
              id="schemeDetailComparator"
              label="&quot;Comparitor&quot;"
              optionLabel="VALUE.name"
              required="true"
              value="schemeWrapper.localCoverage"
              valueRange="pageProcess.coverages"
              valueType="acc.pc.scheme.pageprocess.SchemeDetailPageProcess.LocalCoverage"/>
            <RangeCell
              editable="true"
              id="schemeDetailAction"
              label="&quot;Action&quot;"
              required="true"
              value="schemeWrapper.schemeDetail.SchemeActionType"
              valueRange="pageProcess.schemeActionTypes(schemeWrapper.schemeDetail.SchemeSourceType)"
              valueType="typekey.SchemeActionType_Ext">
              <PostOnChange/>
            </RangeCell>
            <TypeKeyCell
              available="schemeWrapper.schemeDetail.SchemeActionType == SchemeActionType_Ext.TC_OFFER"
              editable="true"
              id="schemeDetailCostType"
              label="&quot;Cost Type&quot;"
              required="true"
              value="schemeWrapper.schemeDetail.SchemeCostType"
              valueType="typekey.SchemeCostType_Ext">
              <PostOnChange/>
            </TypeKeyCell>
            <TextCell
              available="schemeWrapper.schemeDetail.SchemeCostType == SchemeCostType_Ext.TC_DISCOUNT"
              editable="true"
              formatType="percentagePoints"
              id="SchemeDetailCostDiscount"
              label="&quot;Discount&quot;"
              value="schemeWrapper.schemeDetail.CostDiscount"
              valueType="java.lang.Integer"/>
            <TypeKeyCell
              available="schemeWrapper.schemeDetail.SchemeActionType == SchemeActionType_Ext.TC_OFFER"
              editable="true"
              id="schemeDetailTimeframe"
              label="&quot;Timeframe&quot;"
              required="true"
              value="schemeWrapper.schemeDetail.SchemeTimeframe"
              valueType="typekey.SchemeTimeframe_Ext">
              <PostOnChange/>
            </TypeKeyCell>
            <TextCell
              available="schemeWrapper.schemeDetail.SchemeActionType == SchemeActionType_Ext.TC_OFFER"
              editable="true"
              id="SchemeDetailDuration"
              label="&quot;Duration&quot;"
              value="schemeWrapper.schemeDetail.TimeDuration"
              valueType="java.lang.Integer"/>
            <ButtonCell
              action="pcf.SchemeConditionDetailPopup.push(schemeWrapper.schemeDetail)"
              available="CurrentLocation.InEditMode"
              hideIfDisabled="false"
              id="Condition"
              label="&quot;Condition&quot;"
              value="schemeWrapper.schemeDetail.SchemeCondition == null ? &quot;No Condition&quot; : schemeWrapper.schemeDetail.SchemeCondition.Name"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>