<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="true"
    countsAsWork="false"
    id="Scheme"
    parent="SchemeLocationGroup()"
    title="&quot;Scheme Management&quot;">
    <LocationEntryPoint
      signature="Scheme()"/>
    <Variable
      initialValue="new acc.pc.scheme.pageprocess.SchemePageProcess()"
      name="pageProcess"
      type="acc.pc.scheme.pageprocess.SchemePageProcess"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="pcf.SchemeDetail.push()"
          id="ToolbarButton"
          label="&quot;Add Scheme&quot;"/>
        <CheckedValuesToolbarButton
          checkedRowAction="pageProcess.cloneScheme(schemeMain)"
          id="clonebutton"
          iterator="schemeMainIterator"
          label="&quot;Clone&quot;"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="pageProcess.exportScheme(CheckedValues)"
          id="convertbutton"
          iterator="schemeMainIterator"
          label="&quot;Export&quot;"
          showConfirmMessage="false"/>
        <ToolbarButton
          action="SchemeImportPopup.push()"
          id="importButton"
          label="&quot;Import&quot;"/>
        <ToolbarRangeInput
          editable="true"
          id="schemeFilter"
          label="&quot;Filter&quot;"
          optionLabel="VALUE.Name"
          value="pageProcess.filter"
          valueRange="pageProcess.filterList.toTypedArray()"
          valueType="acc.pc.scheme.pageprocess.SchemePageProcess.SchemeFilter">
          <PostOnChange/>
        </ToolbarRangeInput>
      </Toolbar>
      <ListViewPanel>
        <RowIterator
          canPick="false"
          checkBoxVisible="true"
          editable="false"
          elementName="schemeMain"
          hasCheckBoxes="true"
          id="schemeMainIterator"
          pageSize="0"
          value="pageProcess.filteredSchemes()"
          valueType="entity.Scheme_Ext[]">
          <Row>
            <TextCell
              action="pcf.SchemeDetail.push(schemeMain)"
              id="schemeCodeCell"
              label="&quot;Code&quot;"
              value="schemeMain.Code"/>
            <TextCell
              id="schemeNameCell"
              label="&quot;Name&quot;"
              value="schemeMain.Name"/>
            <TypeKeyCell
              id="schemeTypeCell"
              label="&quot;Type&quot;"
              value="schemeMain.SchemeType"
              valueType="SchemeType_Ext"/>
            <TextCell
              id="schemeProductCell"
              label="&quot;Product&quot;"
              value="schemeMain.ProductCode"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>