<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    beforeCommit="pageProcess.beforeCommit()"
    canEdit="true"
    canVisit="true"
    countsAsWork="false"
    id="SchemeSearchSetDetail"
    parent="Scheme()"
    showUpLink="true"
    title="&quot;Scheme Detail&quot;">
    <LocationEntryPoint
      signature="SchemeSearchSetDetail()"/>
    <LocationEntryPoint
      signature="SchemeSearchSetDetail(sourceSchemeSet : SchemeSearchSet_Ext)"/>
    <Variable
      name="sourceSchemeSet"
      type="SchemeSearchSet_Ext"/>
    <Variable
      initialValue="new acc.pc.scheme.pageprocess.SchemeSearchSetDetailPageProcess(sourceSchemeSet, CurrentLocation)"
      name="pageProcess"
      type="acc.pc.scheme.pageprocess.SchemeSearchSetDetailPageProcess"/>
    <Screen>
      <Toolbar>
        <EditButtons
          cancelVisible="true"
          editVisible="true"
          updateVisible="true"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="pageProcess.removeSchemeSearchSet()"
          confirmMessage="&quot;Are you sure you want to remove this scheme, this action can not be undone&quot;"
          id="ToolbarButton"
          label="&quot;Remove Scheme&quot;"/>
      </Toolbar>
      <CardViewPanel>
        <Card
          id="detailCard"
          title="&quot;Details&quot;">
          <DetailViewPanel>
            <InputColumn>
              <TextInput
                editable="true"
                id="schemeDetailMainCode"
                label="&quot;Code&quot;"
                required="true"
                value="pageProcess.schemeSet.Code"/>
              <TextInput
                editable="true"
                id="schemeDetailMainName"
                label="&quot;Name&quot;"
                required="true"
                value="pageProcess.schemeSet.Name"/>
            </InputColumn>
            <InputColumn>
              <Label
                label="&quot;Detailed Description&quot;"/>
              <TextAreaInput
                editable="true"
                id="schemeDescription"
                numCols="100"
                numRows="7"
                value="pageProcess.schemeSet.Description"/>
            </InputColumn>
          </DetailViewPanel>
          <CardViewPanel>
            <Card
              id="attributecard"
              title="&quot;Keys&quot;">
              <PanelRef>
                <Toolbar>
                  <IteratorButtons
                    addVisible="true"
                    id="AttributeschemeDetailAdd"
                    iterator="AttributeschemeDetailIterator"
                    removeVisible="true"/>
                </Toolbar>
                <ListViewPanel
                  available="true"
                  editable="true">
                  <RowIterator
                    checkBoxVisible="true"
                    editable="true"
                    elementName="schemeSearchItem"
                    id="AttributeschemeDetailIterator"
                    pageSize="0"
                    toCreateAndAdd="pageProcess.addDetail()"
                    toRemove="pageProcess.removeDetail(schemeSearchItem)"
                    value="pageProcess.schemeSet.SchemeSearchSetItems"
                    valueType="entity.SchemeSearchSetItem_Ext[]">
                    <ToolbarFlag
                      name="selectedSchemeDetail"/>
                    <Row>
                      <RangeCell
                        editable="true"
                        id="schemeDetailAction"
                        label="&quot;Action&quot;"
                        optionLabel="VALUE.SearchKey"
                        required="true"
                        value="schemeSearchItem.SerachKey"
                        valueRange="pageProcess.searchKeys"
                        valueType="entity.SchemeSearchKey_Ext">
                        <PostOnChange/>
                      </RangeCell>
                      <TextCell
                        id="ceUpdateCell"
                        label="&quot;Root&quot;"
                        value="schemeSearchItem.SerachKey.RootEntity"/>
                      <TextCell
                        id="PathCell"
                        label="&quot;Path&quot;"
                        value="schemeSearchItem.SerachKey.XPath"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </PanelRef>
            </Card>
          </CardViewPanel>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>