<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="SchemeDetailRatingCoveragePanelSet">
    <Require
      name="pageProcess"
      type="acc.pc.scheme.pageprocess.SchemeDetailPageProcess"/>
    <PanelRef
      available="pageProcess.scheme.isEditable()">
      <Toolbar>
        <IteratorButtons
          addVisible="true"
          id="CoverageRateschemeDetailAdd"
          iterator="CoverageRateschemeDetailIterator"
          removeVisible="true"/>
        <ToolbarDivider/>
        <CheckedValuesToolbarButton
          checkedRowAction="pageProcess.cloneDetail(schemeWrapper)"
          id="CoveragRateeclonebutton"
          iterator="CoverageRateschemeDetailIterator"
          label="&quot;Clone&quot;"/>
      </Toolbar>
      <ListViewPanel
        available="true"
        editable="true">
        <RowIterator
          checkBoxVisible="true"
          editable="true"
          elementName="schemeWrapper"
          id="CoverageRateschemeDetailIterator"
          pageSize="0"
          toCreateAndAdd="pageProcess.addDetail(SchemeSourceType_Ext.TC_RATECOVERAGE)"
          toRemove="pageProcess.removeDetail(schemeWrapper)"
          type="acc.pc.scheme.pageprocess.SchemeDetailPageProcess.SchemeDetailWrapper"
          value="pageProcess.schemeDetailWrappers?.where(\ s -&gt; s.schemeDetail.SchemeSourceType == SchemeSourceType_Ext.TC_RATECOVERAGE)"
          valueType="java.util.List&lt;acc.pc.scheme.pageprocess.SchemeDetailPageProcess.SchemeDetailWrapper&gt;">
          <ToolbarFlag
            name="selectedSchemeDetail"/>
          <IteratorSort
            sortBy="schemeWrapper.localCoverageRate"
            sortOrder="1"/>
          <IteratorSort
            sortBy="schemeWrapper.schemeDetail.SchemeActionType"
            sortOrder="2"/>
          <IteratorSort
            sortBy="schemeWrapper.schemeDetail.SchemeValueType"
            sortOrder="3"/>
          <IteratorSort
            sortBy="schemeWrapper.schemeDetail.SchemeCondition.Name"
            sortOrder="4"/>
          <Row>
            <TextCell
              align="center"
              bold="true"
              fontColor="&quot;Red&quot;"
              id="indicatorcell"
              value="pageProcess.indicateClone(schemeWrapper)"/>
            <RangeCell
              editable="true"
              id="schemeDetailComparator"
              label="&quot;Comparitor&quot;"
              optionLabel="VALUE.name"
              required="true"
              value="schemeWrapper.localCoverageRate"
              valueRange="pageProcess.coverageRates"
              valueType="acc.pc.scheme.pageprocess.SchemeDetailPageProcess.LocalCoverageRate"/>
            <RangeCell
              editable="true"
              id="schemeDetailAction"
              label="&quot;Action&quot;"
              required="true"
              value="schemeWrapper.schemeDetail.SchemeActionType"
              valueRange="pageProcess.schemeActionTypes(schemeWrapper.schemeDetail.SchemeSourceType)"
              valueType="typekey.SchemeActionType_Ext">
              <PostOnChange/>
            </RangeCell>
            <TypeKeyCell
              available="schemeWrapper.schemeDetail.SchemeActionType == SchemeActionType_Ext.TC_VALUE"
              editable="true"
              id="schemeDetailValueType"
              label="&quot;Value Type&quot;"
              value="schemeWrapper.schemeDetail.SchemeValueType"
              valueType="typekey.SchemeValueType_Ext">
              <PostOnChange/>
            </TypeKeyCell>
            <ModalCellRef
              align="left"
              def="SchemeValueInputCell(schemeWrapper.schemeDetail)"
              editable="true"
              label="&quot;Value&quot;"
              mode="schemeWrapper.schemeDetail.SchemeValueType.Code"/>
            <ButtonCell
              action="pcf.SchemeConditionDetailPopup.push(schemeWrapper.schemeDetail)"
              available="CurrentLocation.InEditMode"
              hideIfDisabled="false"
              id="Condition"
              label="&quot;Condition&quot;"
              value="schemeWrapper.schemeDetail.SchemeCondition == null ? &quot;No Condition&quot; : schemeWrapper.schemeDetail.SchemeCondition.Name"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>