<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <RowSet
    id="WCRatingOverrideCostDetailAggRowSet">
    <Require
      name="aggCost"
      type="WCJurisdictionCost"/>
    <Require
      name="basedOnAggCost"
      type="WCJurisdictionCost"/>
    <Row
      id="AggCostRow">
      <EmptyCell
        id="empty"
        width="50"/>
      <TextCell
        id="ClassCode"
        value="aggCost.ClassCode"
        width="100"/>
      <TextCell
        id="Description"
        value="aggCost.Description"
        width="250"/>
      <TextCell
        format="&quot;0.0000&quot;"
        id="ActualBaseRate"
        value="aggCost.ActualBaseRate"
        valueType="java.math.BigDecimal"
        width="100"/>
      <TextCell
        format="&quot;0.0000&quot;"
        id="ActualAdjustedRate"
        value="aggCost.ActualAdjRate"
        valueType="java.math.BigDecimal"
        width="100"/>
      <TextCell
        align="right"
        id="Basis"
        value="aggCost.Basis == null or aggCost.Basis == 0 ? &quot;&quot; : aggCost.Basis.DisplayValue"
        width="125"/>
      <MonetaryAmountCell
        id="ActualAmount"
        value="aggCost.ActualAmountBilling"
        width="100"/>
      <TextCell
        editable="aggCost.Overridable"
        format="&quot;0.0000&quot;"
        id="OverrideBaseRate"
        value="aggCost.OverrideBaseRate"
        valueType="java.math.BigDecimal"
        width="100"/>
      <TextCell
        editable="aggCost.Overridable"
        format="&quot;0.0000&quot;"
        id="OverrideAdjustedRate"
        value="aggCost.OverrideAdjRate"
        valueType="java.math.BigDecimal"
        width="100"/>
      <MonetaryAmountCell
        currency="(aggCost.BranchUntyped as PolicyPeriod).PreferredSettlementCurrency"
        editable="aggCost.Overridable"
        id="OverrideAmount"
        value="aggCost.OverrideAmountBilling"
        width="100"/>
      <TextCell
        editable="aggCost.Overridable"
        id="OverrideReason"
        value="aggCost.OverrideReason"
        width="150"/>
      <TextCell
        format="&quot;0.0000&quot;"
        id="StandardBaseRate"
        value="aggCost.StandardBaseRate"
        valueType="java.math.BigDecimal"
        width="100"/>
      <TextCell
        format="&quot;0.0000&quot;"
        id="StandardAdjustedRate"
        value="aggCost.StandardAdjRate"
        valueType="java.math.BigDecimal"
        width="100"/>
      <MonetaryAmountCell
        id="StandardAmount"
        value="aggCost.StandardAmountBilling"
        width="100"/>
    </Row>
  </RowSet>
</PCF>