<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingTxDetailsPanelSet"
    mode="CPLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="totalPremLabel"
      type="String"/>
    <Require
      name="totalCostLabel"
      type="String"/>
    <Require
      name="revOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="period.CPTransactions.toSet().byFixedLocation()"
      name="transactionsByLocation"
      recalculateOnRefresh="true"
      type="java.util.Map&lt;entity.CPLocation, java.util.Set&lt;entity.CPTransaction&gt;&gt;"/>
    <PanelRef
      id="TitlePanel"
      visible="period.CPTransactions.HasElements">
      <TitleBar
        title="gw.api.productmodel.PolicyLinePatternLookup.getByCode(&quot;CPLine&quot;).DisplayName"
        visible="period.MultiLine"/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel>
              <Row
                highlighted="false"
                renderAsSmartHeader="true">
                <TextCell
                  id="Description"
                  value="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Description&quot;)"
                  width="100"/>
                <TextCell
                  id="Amount"
                  value="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Amount&quot;)"/>
              </Row>
              <RowIterator
                editable="false"
                elementName="location"
                id="LocationIterator"
                pageSize="0"
                value="transactionsByLocation.Keys.where( \ c -&gt; c.Location != null).toTypedArray()"
                valueType="entity.CPLocation[]">
                <Variable
                  initialValue="transactionsByLocation.get(location).byFixedBuilding()"
                  name="transactionsByBuilding"
                  recalculateOnRefresh="true"
                  type="java.util.Map&lt;entity.CPBuilding, java.util.Set&lt;entity.CPTransaction&gt;&gt;"/>
                <IteratorSort
                  sortBy="location.Location.LocationNum"
                  sortOrder="1"/>
                <Row
                  useTitleStyle="true">
                  <TextCell
                    colspan="2"
                    id="Description"
                    value="location.DisplayName"/>
                </Row>
                <RowIterator
                  editable="false"
                  elementName="building"
                  id="BuildingIterator"
                  pageSize="0"
                  value="transactionsByBuilding.Keys.toTypedArray()"
                  valueType="entity.CPBuilding[]">
                  <IteratorSort
                    sortBy="building.Building.BuildingNum"
                    sortOrder="1"/>
                  <Row>
                    <TextCell
                      action="CPBuildingTxDetailsPopup.push(transactionsByBuilding.get(building), building)"
                      id="Description"
                      value="building.DisplayName"/>
                    <MonetaryAmountCell
                      footerSumValue="transactionsByBuilding.get(building).AmountSum(period.PreferredSettlementCurrency)"
                      formatType="currency"
                      id="Amount"
                      value="transactionsByBuilding.get(building).AmountSum(period.PreferredSettlementCurrency)"/>
                  </Row>
                </RowIterator>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <Label
            id="OtherCharges"
            label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.OtherCharges&quot;)"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel>
              <Row
                highlighted="false"
                renderAsSmartHeader="true">
                <TextCell
                  id="StateDescription"
                  value="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Description&quot;)"
                  width="100"/>
                <TextCell
                  id="State"
                  value="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.State&quot;)"
                  width="100"/>
                <TextCell
                  id="StateAmount"
                  value="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Amount&quot;)"
                  width="100"/>
              </Row>
              <RowIterator
                editable="false"
                elementName="transaction"
                id="NonLocationTxIterator"
                pageSize="0"
                value="period.CPTransactions.where( \ c -&gt; c.CPCost.Location == null )"
                valueType="entity.CPTransaction[]">
                <IteratorSort
                  sortBy="transaction.CPCost.State"
                  sortOrder="1"/>
                <IteratorSort
                  sortBy="transaction.AmountBilling"
                  sortOrder="2"/>
                <Row>
                  <TextCell
                    id="Description"
                    value="transaction.CPCost"
                    valueType="entity.CPCost"/>
                  <TypeKeyCell
                    id="State"
                    value="transaction.CPCost.State"
                    valueType="typekey.Jurisdiction"/>
                  <MonetaryAmountCell
                    footerSumValue="transaction.AmountBilling"
                    formatType="currency"
                    id="Amount"
                    value="transaction.AmountBilling"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>