<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <LocationGroup
    id="APALocationGroup_Ext"
    title="&quot;Automated Policy Actions&quot;">
    <LocationRef
      location="APAMain_Ext()"/>
    <LocationRef
      location="APATest_Ext()"/>
  </LocationGroup>
</PCF>