<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    afterCancel="pcf.APAMain_Ext.go()"
    autosaveable="false"
    canEdit="true"
    canVisit="true"
    countsAsWork="false"
    id="APAMacroDetail_Ext"
    parent="APAMain_Ext()"
    showUpLink="true"
    startEditing="pageProcess.checkInputs()"
    title="&quot;APA Macro Details&quot;">
    <LocationEntryPoint
      signature="APAMacroDetail_Ext()"/>
    <LocationEntryPoint
      signature="APAMacroDetail_Ext(inMacro : APAMacro_Ext)"/>
    <Variable
      name="inMacro"
      type="APAMacro_Ext"/>
    <Variable
      initialValue="new acc.pc.apa.pageprocess.APAMacroDetailPageProcess_Ext(inMacro)"
      name="pageProcess"
      type="acc.pc.apa.pageprocess.APAMacroDetailPageProcess_Ext"/>
    <Screen
      editable="true">
      <Toolbar>
        <EditButtons
          cancelVisible="true"
          editVisible="true"
          updateVisible="true"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="pageProcess.removeMacro()"
          available="CurrentLocation.InEditMode"
          id="removeDetailButton"
          label="&quot;Remove&quot;"/>
      </Toolbar>
      <CardViewPanel>
        <Card
          id="detilCard"
          title="&quot;Details&quot;">
          <DetailViewPanel
            editable="true">
            <InputColumn>
              <TextInput
                editable="true"
                id="codeInput"
                label="&quot;Code&quot;"
                required="true"
                value="pageProcess.APAMacro.Code"/>
              <TextInput
                editable="true"
                id="NameInput"
                label="&quot;Name&quot;"
                required="true"
                value="pageProcess.APAMacro.Name"/>
              <TypeKeyInput
                editable="true"
                id="macroTypeInput"
                label="&quot;Macro Type&quot;"
                required="true"
                value="pageProcess.APAMacro.APAMcroType"
                valueType="APAMacroType_Ext"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelRef>
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="true"
                elementName="macroInput"
                value="pageProcess.APAMacro.APAMacroInputs"
                valueType="APAMacroInput_Ext[]">
                <Row>
                  <BooleanRadioCell
                    editable="true"
                    id="requiredcell"
                    label="&quot;Required&quot;"
                    value="macroInput.RequiredInput"/>
                  <TypeKeyCell
                    id="inputtypecell"
                    label="&quot;Macro Input&quot;"
                    value="macroInput.APAMacroInput"
                    valueType="typekey.APAMacroInput_Ext"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="ActionCard"
          title="&quot;Actions&quot;">
          <PanelRef>
            <Toolbar>
              <IteratorButtons
                addVisible="true"
                iterator="macroDetailIterator"
                removeVisible="true"/>
            </Toolbar>
            <ListViewPanel>
              <RowIterator
                checkBoxVisible="true"
                editable="true"
                elementName="macroDetail"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                id="macroDetailIterator"
                toCreateAndAdd="pageProcess.createAndAdd()"
                toRemove="pageProcess.remove(macroDetail)"
                value="pageProcess.APAMacro.APAMacroDetails.orderBy(\elt -&gt; elt.DetailOrder).toTypedArray()"
                valueType="APAMacroDetail_Ext[]">
                <Row>
                  <TextCell
                    editable="true"
                    id="orderCell"
                    label="&quot;Order&quot;"
                    required="true"
                    value="macroDetail.DetailOrder"
                    valueType="java.lang.Integer"/>
                  <TypeKeyCell
                    editable="true"
                    id="actionCell"
                    label="&quot;Action&quot;"
                    required="true"
                    value="macroDetail.APAActionType"
                    valueType="APAActionType_Ext">
                    <PostOnChange
                      onChange="pageProcess.resetIncludedMacro(macroDetail)"/>
                  </TypeKeyCell>
                  <RangeCell
                    available="macroDetail.APAActionType == APAActionType_Ext.TC_INCLUDEMACRO"
                    editable="true"
                    id="macroCell"
                    label="&quot;Included Macro&quot;"
                    optionLabel="VALUE.Name"
                    required="false"
                    value="macroDetail.IncludeMacro"
                    valueRange="pageProcess.AllMacros"
                    valueType="APAMacro_Ext"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>