<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewmyaccounts"
    id="DesktopAccounts"
    title="DisplayKey.get(&quot;Web.DesktopAccounts&quot;)">
    <LocationEntryPoint
      signature="DesktopAccounts()"/>
    <Variable
      initialValue="Account.finder.findAccountSummariesForUser(User.util.CurrentUser)"
      name="accounts"
      recalculateOnRefresh="true"
      type="gw.api.database.IQueryBeanResult&lt;entity.AccountSummary&gt;"/>
    <Screen
      id="DesktopAccountsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="DisplayKey.get(&quot;Web.DesktopAccounts&quot;)"/>
      <Toolbar/>
      <PanelRef
        def="DesktopAccountsLV(accounts)"/>
    </Screen>
  </Page>
</PCF>